<div class="popover oa-mctrl" role="tooltip">
  <div class="arrow"></div>
  <div class="clearfix body-content">
    <div class="pull-left">
      <div class="input-group">
        <span class="input-group-addon">重复</span>
        <div app-select options="dateTypeOptions" selected-model="selectedDateType"></div>
      </div>
    </div>
    <div class="pull-left"><mdp-time-picker ng-model="currentDate"></mdp-time-picker></div>
    
    <div class="pull-right">
      <button class="btn btn-success" ng-click="saveOnClick($event)">保存</button>
      <button class="btn btn-default" ng-click="cancelOnClick($event)">取消</button>
    </div>
  </div>
</div>

