.thing-filter{
  .select{
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      .fa{
          position: relative;
          top: 4px;
          margin-right: 5px;
          font-size: 24px;
          &.fa-lightbulb-o{
              color: #fba141;
          }
          &.fa-map-marker{
              color: #5dd6d6;
          }
      }
  }
}