<div class="app-secure-userlogin">
  <div class="app-logo-bg">
    <span class="fa fa-paper-plane-o app-icon"></span> <span>蜂巢智能管理平台</span>
  </div>
  <div class="login-form-box">
    <form name="loginForm" class="form-signin" role="form" novalidate ng-submit="login(credentials)">
      <div class="form-item-header">用户登录</div>
      <fieldset>
        <div class="input-group margin-bottom-sm" ng-class="nameInputFoucsClass">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="用户名" name="username" placeholder="Username or e-mail" ng-model="credentials.userName" required autofocus>
        </div>
        <div class="input-group margin-bottom-sm" ng-class="pwdInputFoucsClass">
          <span class="input-group-addon"><i
            class="fa fa-unlock fa-fw"></i></span> 
          <input type="password" class="form-control" name="password" placeholder="密码" ng-model="credentials.password" required />
        </div>
        <div class="margin-bottom-sm">
          <input type="checkbox" id="rememberMe" name="rememberMe"/> <label for="rememberMe">记住我
            <input type="checkbox" switchery="credentials.permanentToken" yes-text="是" no-text="否" />
          </label>
        </div>
        <div class="item-submit">
          <button type="submit" class="btn btn-danger item-submit-button">
            <span>登录</span>
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="tip-wrap">
    <a id="register" class="ui-commandlink ui-widget" ng-click="register()"> <span>注册</span>
    </a>
  </div>
  <div class="powered-by">
    Powered by <span><img class="login-logo"
     src="images/kiicloud-logo.png" width="60px"></span>Kii China Team
    <div class="version-msg">Version 1.0b</div>
    <div class="version-msg">
      <a href="{{thirdPartyAPIUrl}}" target="_blank"><u>Switch To Beehive API</u></a>
    </div>
  </div>
</div>

<script type="text/ng-template" id="registerModal">
  <div class="modal-content app-secure-userlogin" id="registerModal">
    <div class="modal-header ng-scope">
      <h3 class="modal-title">用户激活</h3>
    </div>
    <div class="modal-body clearfix app-secure-userlogin">
      <!-- step bar -->
      <div class="step-bar">
        <div class="sui-steps-round steps-round-auto">
          <div class="wrap" ng-class="{'finished': currentStep>1, 'current': currentStep==1, 'todo': currentStep<1}">
            <div class="round">1</div>
            <div class="bar"></div>
            <label>激活账号</label>
          </div>
          <div class="wrap" ng-class="{'finished': currentStep>2, 'current': currentStep==2, 'todo': currentStep<2}">
            <div class="round">2</div>
            <div class="bar"></div>
            <label>初始化密码</label>
          </div>
          <div ng-class="{'finished': currentStep>3, 'current': currentStep==3, 'todo': currentStep<3}">
            <div class="round">3</div>
            <label>激活成功</label>
          </div>
        </div>
      </div>
      <!-- end of step bar -->
      <uib-carousel no-wrap="noWrapSlides">
        <!-- ============================== select source ========================== -->
        <uib-slide active="currentStep == 1">
          <div class="input-group margin-bottom-sm" ng-class="nameInputFoucsClass">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="用户名" name="username" placeholder="Username or e-mail" ng-model="credentials.userName" required autofocus>
          </div>
          <div class="input-group margin-bottom-sm" ng-class="pwdInputFoucsClass">
            <span class="input-group-addon"><i
              class="fa fa-unlock fa-fw"></i></span> 
            <input type="password" class="form-control" name="password" placeholder="激活码" ng-model="credentials.activityToken" required />
          </div>
        </uib-slide>
        <uib-slide active="currentStep == 2">
          <div class="input-group margin-bottom-sm" ng-class="pwdInputFoucsClass">
            <span class="input-group-addon"><i
              class="fa fa-unlock fa-fw"></i></span> 
            <input type="password" class="form-control" name="password" placeholder="初始密码" ng-model="credentials.newPassword" required />
          </div>
          <div class="input-group margin-bottom-sm" ng-class="pwdInputFoucsClass">
            <span class="input-group-addon"><i
              class="fa fa-unlock fa-fw"></i></span> 
            <input type="password" class="form-control" name="password" placeholder="确认密码" ng-model="credentials.confirm" required />
          </div>
        </uib-slide>
        <uib-slide active="currentStep == 3">
          注册成功，请输入用户名密码登录！
        </uib-slide>
      </uib-carousel>
    </div>
    <div class="modal-footer">
      <div class="item-submit">
        <button type="submit" class="btn btn-danger item-submit-button" ng-click="register(credentials)">
          <span>{{currentStep == 3?'完成' :'提交'}}</span>
        </button>
      </div>
    </div>
  </div>
</script>