<div class="app-secure-userlogin">
  <div class="app-logo-bg">
    <span class="fa fa-paper-plane-o app-icon"></span> <span>{{'portalName' | translate}}</span>
  </div>
  <div class="login-form-box">
    <form name="loginForm" class="form-signin" role="form" novalidate ng-submit="login(credentials)">
      <div class="form-item-header">{{'user.userLogin' | translate}}</div>
      <fieldset>
        <div class="input-group margin-bottom-sm" ng-class="nameInputFoucsClass">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="{{'user.loginName' | translate}}" name="username" ng-model="credentials.userName" required autofocus>
        </div>
        <div class="input-group margin-bottom-sm" ng-class="pwdInputFoucsClass">
          <span class="input-group-addon"><i
            class="fa fa-unlock fa-fw"></i></span> 
          <input type="password" class="form-control" name="password" placeholder="{{'user.password' | translate}}" ng-model="credentials.password" required />
        </div>
        <div class="item-submit">
          <button type="submit" class="btn btn-danger item-submit-button">
            <span>{{'user.login' | translate}}</span>
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="tip-wrap">
    <a id="register" class="ui-commandlink ui-widget" ng-click="register()"> <span>{{'user.register' | translate}}</span>
    </a>
  </div>
  <div class="powered-by">
    Powered by <span><img class="login-logo"
     src="images/kiicloud-logo.png" width="60px"></span>Kii China Team
    <div class="version-msg">Version 1.0</div>
    <div class="version-msg">
      <a href="{{thirdPartyAPIUrl}}" target="_blank"><u>Switch To Beehive API</u></a>
    </div>
  </div>
</div>

<script type="text/ng-template" id="registerModal">
  <div class="modal-content app-secure-userlogin" id="registerModal">
    <div class="modal-header ng-scope">
      <h3 class="modal-title">{{'user.activation' | translate}}</h3>
    </div>
    <div class="modal-body clearfix app-secure-userlogin">
      <form novalidate name="registerForm">
        <!-- step bar -->
        <div class="step-bar">
          <div class="sui-steps-round steps-round-auto">
            <div class="wrap" ng-class="{'finished': currentStep>1, 'current': currentStep==1, 'todo': currentStep<1}">
              <div class="round">1</div>
              <div class="bar"></div>
              <label>{{'user.activateAccount' | translate}}</label>
            </div>
            <div class="wrap" ng-class="{'finished': currentStep>2, 'current': currentStep==2, 'todo': currentStep<2}">
              <div class="round">2</div>
              <div class="bar"></div>
              <label>{{'user.initPassword' | translate}}</label>
            </div>
            <div ng-class="{'finished': currentStep>3, 'current': currentStep==3, 'todo': currentStep<3}">
              <div class="round">3</div>
              <label>{{'user.succeed' | translate}}</label>
            </div>
          </div>
        </div>
        <!-- end of step bar -->
        <div uib-carousel active="currentStep" no-wrap="false">
          <!-- ============================== select source ========================== -->
          <div class="item" ng-class="{'active': currentStep == 1}">
            <div class="form-group">
              <div class="input-group margin-bottom-sm" ng-class="nameInputFoucsClass">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input type="text" class="form-control" placeholder="{{'user.loginName' | translate}}" name="userName" placeholder="{{'user.loginName' | translate}}" ng-model="credentials.userName" required autofocus>
              </div>
              <p class="help-block" ng-show="userNameNotFound">
                <span class="text-danger">*用户名不存在。</span>
              </p>
              <div class="input-group margin-bottom-sm" ng-class="pwdInputFoucsClass">
                <span class="input-group-addon"><i
                  class="fa fa-unlock fa-fw"></i></span> 
                <input type="password" class="form-control" name="token" placeholder="{{'user.activationCode' | translate}}" ng-model="credentials.activityToken" required />
              </div>
              <p class="help-block" ng-show="tokenInvalid">
                <span class="text-danger">*TOKEN不正确。</span>
              </p>
            </div>
          </div>
          <div class="item" ng-class="{'active': currentStep == 2}">
            <div class="input-group margin-bottom-sm" ng-class="pwdInputFoucsClass">
              <span class="input-group-addon"><i
                class="fa fa-unlock fa-fw"></i></span> 
              <input type="password" class="form-control" name="password" placeholder="{{'user.initialPassword' | translate}}" ng-model="credentials.newPassword" required />
            </div>
            <div class="input-group margin-bottom-sm" ng-class="pwdInputFoucsClass">
              <span class="input-group-addon"><i
                class="fa fa-unlock fa-fw"></i></span> 
              <input type="password" class="form-control" ng-maxlength="50" ng-minlength="6" name="password" placeholder="{{'user.confirmPassword' | translate}}" ng-model="credentials.confirm" required />
            </div>
            <div>
              <p class="help-block" ng-show="passwordSubmitted && credentials.confirm != credentials.newPassword">
                <span class="text-danger">*密码不一致</span>
              </p>
              <p class="help-block" ng-show="passwordSubmitted && registerForm.password.$invalid">
                <span class="text-danger">*密码长度必须多于6个字符，且不能多余50个字符。</span>
              </p>
            </div>
          </div>
          <div class="item" ng-class="{'active': currentStep == 3}">
            注册成功，请输入用户名密码登录！
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="item-submit">
        <button type="submit" class="btn btn-danger item-submit-button" ng-click="register(credentials)">
          <span>{{btnText}}</span>
        </button>
      </div>
    </div>
  </div>
</script>