<div class="app-portal-reporting-customcharts">
  <div class="panel header">
    <div class="panel-body">
      <div class="panel-row">
        <div class="pull-left">
          <div class="pull-left">
            <div class="title pull-left">
              <span class="fa fa-clock-o"></span>
              {{'terms.timePeriod' | translate}}
            </div>
            <div class="pull-left time-picker">
              <rp-date-picker last-date="defaultTime" output="onPeriodChange"></rp-date-picker>
            </div>
          </div>
          <div class="pull-left">
            <button class="btn btn-info" ng-click="queryData()">{{'controls.refresh' | translate}}</button>
            <button class="btn btn-info" ng-click="factoryChart()">{{'reporting.createChart' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div gridster="gridsterOpts">
    <div ng-repeat="chart in charts | filter: displayTagFilter" gridster-item="customChartMap">
      <div class="panel">
        <div class="panel-heading">{{chart.name}} 
          <span class="fa fa-edit" ng-click="editChart(chart)"></span>
          <span class="fa fa-trash" ng-click="removeChart(chart)"></span>
        </div>
        <div class="panel-body">

          <!-- Kii Chart -->
          <div class="grid-content">
            <title>{{chart.name}}</title>
            <kii-chart 
              query="chart.options.query"
              period="chart.period"
              window="0"
              location=""
              refresh="chart.refreshChart"
              stage="false"
              level="chart.options.level"
              style="height: 100%">
            </kii-chart>
          </div>
          <!-- end of chart -->
        </div>
      </div>
      <input type="hidden" class="chart-id" ng-model="chart.id">
    </div>
  </div>
</div>

<!-- chart editor -->
<script type="text/ng-template" id="edit-custom-chart">

  <div class="modal-content app-portal-reporting-customcharts">
    <div class="modal-header ng-scope">
      <h3 class="modal-title">{{modalTitle | translate}}</h3>
    </div>
    <div class="modal-body ng-scope">
      <div class="form-group row">
        <div class="form-group col-md-12">
          <label>{{"reporting.chartName" | translate}}</label>
          <input type="text" name="" ng-model="options.name" class="form-control">
        </div>
        <div class="col-md-12">
          <div class="form-group chart-option">
            <label>{{"reporting.chartType" | translate}}</label>
            <div>
              <div app-select options="chartTypes" selected-model="options.chartType" value-only="true"></div>
            </div>
          </div>
          <div class="form-group chart-option">
            <label>{{"reporting.thingType" | translate}}</label>
            <div><div app-select options="typeOptions" selected-model="selectedType"></div></div>
          </div>
          <div class="form-group chart-option">
            <label>{{"reporting.yAxis" | translate}}</label>
            <div>
              <div app-select options="selectedType.properties" text="displayName" value="propertyName" selected-model="options.property"></div>
            </div>
          </div>
          <div class="form-group chart-option">
            <label>{{"reporting.aggMethod" | translate}}</label>
            <div>
              <div app-select options="aggMethods" selected-model="options.aggMethod" value-only="true"></div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label>{{"reporting.dimensions" | translate}}</label>
          <hr/>
          <div class="row">
            <!-- dimension - time -->
            <div class="col-md-5">
              <label><input type="checkbox" name="" ng-model="options.dimensions.time">{{'terms.time' | translate}}</label>
              <hr class="in-panel"/>
              <div class="form-group">
                <label style="line-height: 34px; margin-bottom: 15px;">{{'terms.timeInterval' | translate}}</label>
                <div>
                  <rp-time-slicer disabled="!options.dimensions.time" input="timeSliceInput" output="onTimeSliceChange"></rp-time-slicer>
                </div>
              </div>
            </div>
            <!-- end of time dimension -->
            <!-- location dimension -->
            <div class="col-md-7">
              <div class="form-group">
                <label><input type="checkbox" name="" ng-model="options.dimensions.location">{{'terms.location' | translate}}</label>
                <hr class="in-panel" />
                <div class="form-group">
                  <label>{{'reporting.defaultLocation' | translate}}</label>
                  <location-selector change="locationChange(location, locationName, subLevels)" disabled="!options.dimensions.location"></location-selector>
                  <button class="btn btn-info" ng-click="addLocation()" ng-disabled="!options.dimensions.location">{{'reporting.addLocation' | translate}}</button>
                </div>
                <div ng-show="options.dimensions.location"><button class="btn btn-warning location-tag" ng-repeat="location in options.locations">{{location.displayName}} <span class="fa fa-remove pull-right" ng-click="removeLocation(location)"></span></button></div>
              </div>
            </div>
            <!-- end of location dimension -->
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>{{'terms.description' | translate}}</label>
        <textarea class="form-control" ng-model="options.description"></textarea>
      </div>
      <div>
        <button class="btn btn-info btn-lg pull-center" ng-click="saveChart()">{{'controls.save' | translate}}</button>
      </div>
    </div>
  </div>
</script>
<!-- end of editor -->
