<div class="modal-content" ng-init="init()">
  <div class="modal-header ng-scope">
      <h3 class="modal-title">编辑用户资料</h3>
  </div>
  <div class="modal-body ng-scope">
    <form novalidate name="newUserForm" ng-submit="createUser()">
      <table class="detail-content">
        <tr>
          <td>姓名</td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="姓名" required ng-model="user.userName">
              <div app-select selected-model="user.custom.sex" options="sexOptions" class="btn-group input-group-btn" text="text"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>身份证</td>
          <td>
            <input ng-model="user.userID" type="text" required class="form-control" placeholder="身份证" ng-disabled="true" />
          </td>
        </tr>
        <tr>
          <td>公司</td>
          <td><input ng-model="user.company" type="text" class="form-control" placeholder="公司" /></td>
        </tr>
        <tr>
          <td>电话</td>
          <td><input type="text" class="form-control" placeholder="电话" ng-model="user.phone" /></td>
        </tr>
        <tr>
          <td>邮箱地址</td>
          <td><input type="text" class="form-control" placeholder="邮箱地址" ng-model="user.mail" /></td>
        </tr>
      </table>
    </form>

    <hr/>

    <uib-tabset>
      <!-- device group -->
      <uib-tab heading="设备组">
        <div class="clearfix form-group">
          <span ng-repeat="tag in tags" class="btn btn-info username">
            {{tag.displayName}} <span class="fa fa-remove" ng-click="removeTag(tag, user)"></span>
          </span>
        </div>
        <div class="form-group">
          <table>
            <tr>
              <td>
                <div app-select selected-model="queryFiled" options="queryOptions" class="input-group-btn" text="text"></div>
              </td>
              <td>
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="searchValue" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="queryUsers(queryFiled.value, searchValue)">Go!</button>
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr role="row">
                  <th class="sorting_asc" rowspan="1" colspan="1">标签名</th>
                  <th class="sorting" rowspan="1" colspan="1">设备数</th>
                  <th class="sorting" rowspan="1" colspan="1" width="80px">操作</th>
                </tr>
            </thead>
            <tbody>
              <tr class="gradeA" ng-class="{'odd':$index%2==1}" role="row" ng-repeat="tag in tagsForDisplay">
                <td>{{tag.displayName}}</td>
                <td>{{tag.count}}</td>
                <td align="center">
                  <button class="btn btn-success" ng-click="addTag(tag, user)">添加</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pull-right">
            <pagion collection="allTags" display="tagsForDisplay"></pagion>
          </div>
        </div>
      </uib-tab>
      <!-- end of device group -->

      <uib-tab heading="设备">
        <div class="clearfix form-group">
          <span ng-repeat="thing in things" class="btn btn-info username">
            {{thing.vendorThingID}} <span class="fa fa-remove" ng-click="removeThing(thing, user)"></span>
          </span>
        </div>
        <thing-selector selected-things="selectedThings"></thing-selector>
        <hr/>
        <div class="pull-right">
          <button class="btn btn-success" ng-click="addThings(selectedThings, user)">添加设备</button>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer ng-scope">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>