<div class="modal-content app-portal-usermanager-user" ng-init="init()">
  <div class="modal-header ng-scope">
      <h3 class="modal-title">{{'userManager.editUserTitle' | translate}}</h3>
  </div>
  <div class="modal-body ng-scope">
    <form novalidate name="userForm" ng-submit="createUser()">
      <table class="detail-content">
        <tr>
          <td>{{'user.userName' | translate}}</td>
          <td>
            <input type="text" class="form-control" placeholder="{{'user.userName' | translate}}" required ng-model="user.displayName"/>
          </td>
        </tr>
        <tr>
          <td>{{'user.loginName' | translate}}</td>
          <td>
            <input ng-model="user.userName" type="text" required class="form-control" placeholder="{{'user.userName' | translate}}" ng-disabled="true" />
          </td>
        </tr>
        <tr>
          <td>{{'user.phone' | translate}}</td>
          <td><input type="text" class="form-control" ng-pattern="/^[0-9]{11}$/" placeholder="{{'user.phone' | translate}}" ng-model="user.phone" name="phone" /></td>
        </tr>
        <tr ng-if="!userForm.phone.$valid">
          <td></td>
          <td>
            <div class="warning-text" ng-if="!userForm.phone.$valid">
              <span>{{'用户手机格式不正确！'}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>{{'user.email' | translate}}</td>
          <td>
            <input type="email" name="email" class="form-control" placeholder="{{'user.email' | translate}}" ng-model="user.mail" />
          </td>
        </tr>
        <tr ng-if="!userForm.email.$valid">
          <td></td>
          <td>
            <div class="warning-text" ng-if="!userForm.email.$valid">
              <span>{{'用户邮箱格式不正确！'}}</span>
            </div>
          </td>
        </tr>
      </table>
    </form>

    <hr/>

    <uib-tabset>
      <uib-tab heading="{{'terms.things' | translate}}">
        <thing-location-type-selector change="selectedChange(selectedThings, type)" input="inputMethods.inputThingDataset" creator-only="true"></thing-location-type-selector>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer ng-scope">
      <button class="btn btn-primary" type="button" ng-click="ok()">{{'controls.submit' | translate}}</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">{{'controls.cancel' | translate}}</button>
  </div>
</div>