@import 'src/app/shared/global.scss';

.directive-number-input{
  display: inline-block;
  border: solid 1px #e4e8eb;
  background-color: #fff;
  position: relative;

  &.invalid{
    border-color: $color-danger;
    input{
      color: $color-danger;
    }
  }
  label{
    font-size: 21px; 
    line-height: 36px;
    width: 30px;
    text-align: center;
    display: block;
    float: left;
    height: 36px;
    margin-bottom: 0px;
    outline: none;
  }
  input{
    background-color: transparent;
    float: left;
    padding: 0px;
    display: block;
    line-height: 36px;
    height: 36px;
    border: none;
    outline: none;
    width: 50px;
    text-align: center;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
      -webkit-appearance: none; 
      margin: 0; 
    }
    &.has-suffix{
      margin-right: 25px;
    }
  }
  span.suffix{
    position: relative;
    line-height: 36px;
    float: left;
    margin-left: -25px;
    width: 25px;
    text-align: center;
  }
}