<div class="panel trigger-action-list">
  <div class="panel-body">
    <h4>规则行为</h4>
    <div class="table-holder">
      <table class="property-table">
        <tbody>
          <tr>
            <td><span class="fa fa-circle-o"></span>空调 <div class="v-hr"></div></td>
            <td><span>temperature:25</span><span>power: true</span></td>
          </tr>
          <tr>
            <td><span class="fa fa-circle-o"></span>空调 <div class="v-hr"></div></td>
            <td><span>temperature:25</span><span>power: true</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="btn-add-param" ng-click="">
      <span class="fa fa-plus-circle"></span>
      <span>添加参数</span>
    </div>
  </div>
</div>