<div class="app-portal-usermanager-userthingauthority" ng-init="init()">
  <section class="panel">
    <header class="panel-heading">设置设备控制权限</header>
    <div class="panel-body">
      <div>
        <span ng-repeat="thing in ownThings" class="btn btn-info username">
          {{user.userName}} <span class="fa fa-remove" ng-click="removeThing(user, thing)"></span>
        </span>
      </div>
      <div class="portal-row clearfix">
        <thing-selector selected-things="selectedThings"></thing-selector>
      </div>
      <div class="portal-row clearfix">
        <div class="col-lg-12">
          <button class="pull-right btn btn-danger" ng-click="addThings(selectedThings)">提交</button>
        </div>
      </div>
    </div>
  </section>
</div>