<div class="app-portal-triggermanager-conditiontriggerdetail">
  <ng-include src="'app/components/portal/TriggerManager/components/TriggerInfo/TriggerInfo.html'"></ng-include>
  <ng-include src="'app/components/portal/TriggerManager/components/TriggerTimeSpan/TriggerTimeSpan.html'"></ng-include>
  <ng-include src="'app/components/portal/TriggerManager/components/TriggerConditionList/TriggerConditionList.html'"></ng-include>
  <ng-include src="'app/components/portal/TriggerManager/components/TriggerActionList/TriggerActionList.html'"></ng-include>

  <div class="page-footer">
    <button class="btn btn-md btn-submit btn-warning" type="submit" ng-click="save()">保存</button>
    <button class="btn btn-md btn-submit btn-info" ng-click="goBack()">返回</button>
  </div>
</div>