.trigger-command{
    .range-type{
        .range-container{
            margin-right:80px; float:left; margin-top:10px;
        }

        input[type=text]{
            width:70px; float:left; margin-left:-70px;
        }
    }  

    table > tbody > tr > td{
        vertical-align: middle;
    } 
}