<div class="app-portal-thingviews-typeview">
  <div class="panel header">
    <div class="panel-body">
      <div class="panel-row">
        <span>设备列表</span>
        <div class="pull-right">
          <div class="pull-left">
            <div class="title pull-left">
              <span class="fa fa-map-marker"></span>
              <span>坐标</span>
            </div>
            <div class="pull-left">
              <location-selector input="initLocation" change="locationChange(location, locationName, subLevels)" position="'right'"></location-selector>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="type-tile" ng-repeat="type in thingTypes" ng-show="type.thingNumber" ng-click="viewType(type)">
    <i class="fa fa-pencil-square-o" ng-click="editType(type); $event.stopPropagation()"></i>
    <div class="title">{{type.displayName || type.type}}</div>
    <img class="portr" src="images/device.png"></img>
    <div class="bottom">
      <span>设备数量：{{type.thingNumber}}</span>
    </div>
  </div>
</div>