.location-selector{
  display: inline-block;
  .dropdown-menu{
    outline: none;
  }
  .panel{
    width: 400px; margin-bottom:0px;
  }
  .location-select{
    float: left;
    margin-right: 10px;
    line-height: 34px;
    label{
      display: inline-block;
    }
    select{
      width: auto;
      display: inline-block;
    }
  }
}