.location-selector{
  display: inline-block;
  .dropdown-menu{
    outline: none;
  }
  .panel{
    margin-bottom:0px;
  }
  .location-select{
    white-space: nowrap;
    margin-right: 10px;
    line-height: 34px;
    & > label{
      display: inline-block;
      margin-right: 5px;
    }
    select{
      width: auto;
      display: inline-block;
    }
  }
  &.right{
    .dropdown-menu{
      left: inherit;
      right: 0px;
    }
  }
}