<div uib-dropdown class="location-selector" ng-class="position">
  <button id="search-filter" ng-disabled="disabled" type="button" class="btn btn-default" ng-disabled="disabled" uib-dropdown-toggle>
    {{getDisplayName()}} <span class="caret"></span>
  </button>
  <div class="dropdown-menu" role="menu" aria-labelledby="search-filter" ng-click="$event.stopPropagation()">
    <div class="panel">
      <div class="panel-body">
        <div class="location-select" ng-repeat="level in levels">
          <label>{{"location.level" + $index + ".name" | translate}}</label>
          <select class="form-control" ng-options="option._displayName for option in level.options track by option.location" ng-model="level.selected" ng-change="changeLocation(level.level)" ng-click="$event.stopPropagation()">
            <option value="">{{"controls.selectDefault" | translate}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>


