.inline {
  display: inline-block;
  margin-right: 10px; }

.app-portal-usermanager-user-newuser {
  /*
 * TODO
 **/ }
  .app-portal-usermanager-user-newuser .location-select {
    margin-right: 5px; }
