.btn-warning {
  background: #fba141; }

.text-warning {
  color: #fba141; }

.app-portal-usermanager-user-newuser {
  /*
 * TODO
 **/ }
  .app-portal-usermanager-user-newuser .location-select {
    margin-right: 5px; }
