.app-portal-scenariomanager-officeatmosphere {
  background: #63b7e6;
  position: relative;
  overflow: hidden; }
  .app-portal-scenariomanager-officeatmosphere hr {
    margin-right: 0px; }
  .app-portal-scenariomanager-officeatmosphere .left-panel {
    position: relative;
    border-right: solid 1px #fff;
    z-index: 21;
    width: 202px;
    background: rgba(0, 0, 0, 0.3);
    margin-right: -200px;
    float: left;
    padding-bottom: 1000px;
    margin-bottom: -1000px; }
    .app-portal-scenariomanager-officeatmosphere .left-panel .item-container, .app-portal-scenariomanager-officeatmosphere .left-panel .controller-container {
      padding-bottom: 10px; }
      .app-portal-scenariomanager-officeatmosphere .left-panel .item-container .draggable-item, .app-portal-scenariomanager-officeatmosphere .left-panel .controller-container .draggable-item {
        float: left;
        margin-left: 0px; }
        .app-portal-scenariomanager-officeatmosphere .left-panel .item-container .draggable-item.icon-only, .app-portal-scenariomanager-officeatmosphere .left-panel .controller-container .draggable-item.icon-only {
          width: 100px; }
        .app-portal-scenariomanager-officeatmosphere .left-panel .item-container .draggable-item .icon-holder, .app-portal-scenariomanager-officeatmosphere .left-panel .controller-container .draggable-item .icon-holder {
          background: transparent; }
  .app-portal-scenariomanager-officeatmosphere .right-panel {
    padding: 15px 0px;
    position: relative;
    padding-left: 200px;
    z-index: 20; }
    .app-portal-scenariomanager-officeatmosphere .right-panel .panel-bg {
      float: left;
      width: 100%;
      margin-right: -100%;
      height: 1000px;
      margin-bottom: -1000px; }
      .app-portal-scenariomanager-officeatmosphere .right-panel .panel-bg .drawing-container {
        height: 100%; }
    .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper {
      min-height: 600px;
      position: relative;
      width: 100%; }
      .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col {
        min-height: 100px;
        padding: 0px 5px;
        float: left;
        padding-bottom: 1000px;
        margin-bottom: -1000px;
        border-right: 1px dashed #fff; }
        .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col .draggable-item {
          margin: 0px auto; }
          .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col .draggable-item .tip {
            display: none; }
            .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col .draggable-item .tip.in, .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col .draggable-item .tip.active {
              display: block; }
        .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col:last-child {
          border-right: none; }
      .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col-1 {
        min-width: 110px;
        width: 23%; }
      .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col-2 {
        min-width: 110px;
        width: 23%; }
      .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col-3 {
        min-width: 70px;
        width: 15%; }
      .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col-4 {
        min-width: 70px;
        width: 15%; }
      .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .col-5 {
        width: 23%;
        border-right: 0px;
        min-width: 110px; }
      .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .tool-panel {
        display: none;
        position: absolute;
        height: 100%;
        width: 54px;
        padding: 8px;
        background: rgba(0, 0, 0, 0.2);
        border-left: solid 1px #fff;
        border-bottom: solid 1px #fff;
        border-top: solid 1px #fff;
        right: 0px;
        border-radius: 8px 0px 0px 8px; }
        .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .tool-panel.in {
          display: block; }
        .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .tool-panel .item-holder-when-draggin {
          margin: 0px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.7; }
          .app-portal-scenariomanager-officeatmosphere .right-panel .panel-wrapper .tool-panel .item-holder-when-draggin.active {
            opacity: 1; }
  .app-portal-scenariomanager-officeatmosphere .tip {
    display: none;
    margin: 0px auto; }
    .app-portal-scenariomanager-officeatmosphere .tip.in, .app-portal-scenariomanager-officeatmosphere .tip.active {
      display: block; }
  .app-portal-scenariomanager-officeatmosphere .draggable-item, .app-portal-scenariomanager-officeatmosphere .tip {
    width: 100px;
    text-align: center;
    font-size: 13px;
    position: relative;
    padding: 10px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    height: 77px;
    border: solid 1px transparent;
    cursor: pointer; }
    .app-portal-scenariomanager-officeatmosphere .draggable-item.dragged, .app-portal-scenariomanager-officeatmosphere .tip.dragged {
      z-index: 1000; }
    .app-portal-scenariomanager-officeatmosphere .draggable-item.dragged .icon-holder, .app-portal-scenariomanager-officeatmosphere .draggable-item.active .icon-holder, .app-portal-scenariomanager-officeatmosphere .tip.dragged .icon-holder, .app-portal-scenariomanager-officeatmosphere .tip.active .icon-holder {
      background: transparent; }
      .app-portal-scenariomanager-officeatmosphere .draggable-item.dragged .icon-holder .fa, .app-portal-scenariomanager-officeatmosphere .draggable-item.active .icon-holder .fa, .app-portal-scenariomanager-officeatmosphere .tip.dragged .icon-holder .fa, .app-portal-scenariomanager-officeatmosphere .tip.active .icon-holder .fa {
        border: dashed 2px #fff; }
    .app-portal-scenariomanager-officeatmosphere .draggable-item .icon-holder, .app-portal-scenariomanager-officeatmosphere .tip .icon-holder {
      width: 42px;
      height: 42px;
      margin: 0px auto;
      background: #63b7e6; }
      .app-portal-scenariomanager-officeatmosphere .draggable-item .icon-holder .fa, .app-portal-scenariomanager-officeatmosphere .tip .icon-holder .fa {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        font-size: 30px;
        color: #fff;
        border: solid 1px transparent; }
    .app-portal-scenariomanager-officeatmosphere .draggable-item .name, .app-portal-scenariomanager-officeatmosphere .tip .name {
      width: 100%;
      color: #fff;
      position: absolute;
      bottom: 0px;
      text-align: center;
      font-size: 12px; }
      .app-portal-scenariomanager-officeatmosphere .draggable-item .name span, .app-portal-scenariomanager-officeatmosphere .tip .name span {
        border-radius: 10px;
        border: solid 1px transparent;
        padding: 1px 5px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .app-portal-scenariomanager-officeatmosphere .draggable-item.icon-only, .app-portal-scenariomanager-officeatmosphere .tip.icon-only {
      width: 42px;
      padding: 0px;
      padding-top: 10px; }
      .app-portal-scenariomanager-officeatmosphere .draggable-item.icon-only span, .app-portal-scenariomanager-officeatmosphere .tip.icon-only span {
        font-size: 30px; }
    .app-portal-scenariomanager-officeatmosphere .draggable-item:hover .fa, .app-portal-scenariomanager-officeatmosphere .draggable-item.active .fa, .app-portal-scenariomanager-officeatmosphere .tip:hover .fa, .app-portal-scenariomanager-officeatmosphere .tip.active .fa {
      background: rgba(255, 255, 255, 0.2);
      border: solid 1px #fff; }
    .app-portal-scenariomanager-officeatmosphere .draggable-item:hover .name span, .app-portal-scenariomanager-officeatmosphere .draggable-item.active .name span, .app-portal-scenariomanager-officeatmosphere .tip:hover .name span, .app-portal-scenariomanager-officeatmosphere .tip.active .name span {
      background: rgba(0, 0, 0, 0.2);
      border: solid 1px #fff; }
  .app-portal-scenariomanager-officeatmosphere .bottom-bar {
    bottom: 0px;
    height: 15px;
    width: 100%;
    position: absolute; }
    .app-portal-scenariomanager-officeatmosphere .bottom-bar div.bg {
      height: 100%;
      background: #63b7e6;
      margin-left: 200px; }
  .app-portal-scenariomanager-officeatmosphere .item-holder-when-draggin {
    border: dashed 2px #fff;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    line-height: 40px;
    color: #fff; }
    .app-portal-scenariomanager-officeatmosphere .item-holder-when-draggin span {
      font-size: 24px; }
    .app-portal-scenariomanager-officeatmosphere .item-holder-when-draggin:hover, .app-portal-scenariomanager-officeatmosphere .item-holder-when-draggin.active {
      background: rgba(255, 255, 255, 0.4); }
  .app-portal-scenariomanager-officeatmosphere .popover {
    opacity: 0.4;
    padding-bottom: 20px; }
    .app-portal-scenariomanager-officeatmosphere .popover:hover {
      opacity: 1; }
    .app-portal-scenariomanager-officeatmosphere .popover .draggable-item {
      float: left; }
      .app-portal-scenariomanager-officeatmosphere .popover .draggable-item:hover {
        border: dashed 2px #000; }
      .app-portal-scenariomanager-officeatmosphere .popover .draggable-item .icon-holder {
        background: transparent; }
        .app-portal-scenariomanager-officeatmosphere .popover .draggable-item .icon-holder .fa {
          color: #000; }
      .app-portal-scenariomanager-officeatmosphere .popover .draggable-item .name {
        color: #000; }
    .app-portal-scenariomanager-officeatmosphere .popover.oa-mctrl {
      padding: 10px;
      min-height: 200px; }
  .app-portal-scenariomanager-officeatmosphere .col-3 .tip, .app-portal-scenariomanager-officeatmosphere .col-4 .tip {
    display: block;
    opacity: 0; }
    .app-portal-scenariomanager-officeatmosphere .col-3 .tip.in, .app-portal-scenariomanager-officeatmosphere .col-4 .tip.in {
      opacity: 1; }
  .app-portal-scenariomanager-officeatmosphere .popover.sensor-popover {
    min-width: 333px; }
  .app-portal-scenariomanager-officeatmosphere .popover.equip-popover {
    width: 333px;
    min-height: 120px; }
