<div ng-init="init()" class="group-trigger">
  <!-- ====================== start of trigger setting ===================== -->
  <div class="step-bar">
    <div class="sui-steps-round steps-round-auto">
      <div class="wrap" ng-class="{'finished': currentStep>1, 'current': currentStep==1, 'todo': currentStep<1}">
        <div class="round" ng-click="currentStep = 1">1</div>
        <div class="bar"></div>
        <label>触发器源</label>
      </div>
      <div class="wrap" ng-class="{'finished': currentStep>2, 'current': currentStep==2, 'todo': currentStep<2}">
        <div class="round" ng-click="currentStep = 2">2</div>
        <div class="bar"></div>
        <label>触发条件</label>
      </div>
      <div class="wrap" ng-class="{'finished': currentStep>3, 'current': currentStep==3, 'todo': currentStep<3}">
        <div class="round" ng-click="currentStep = 3">3</div>
        <div class="bar"></div>
        <label>触发目标</label>
      </div>
      <div ng-class="{'finished': currentStep>4, 'current': currentStep==4, 'todo': currentStep<4}">
        <div class="round" ng-click="currentStep = 4">4</div>
        <label>触发命令</label>
      </div>
    </div>
  </div>
  <hr/>
  <uib-carousel no-wrap="noWrapSlides">
    <!-- ============================== select source ========================== -->
    <uib-slide active="currentStep == 1">
      <source-picker my-source="dataContainer.mySource" disabled="trigger.triggerID"></source-picker>
    </uib-slide>
    <!-- ========================= end of select source ======================== -->

    <!-- =========================== set trigger rule  ==================================== -->
    <uib-slide active="currentStep == 2">
      <uib-tabset>
        <uib-tab heading="触发条件集">
          <div class="trigger-when">
            <span>何时触发：</span>
            <div app-select value-only="true" selected-model="dataContainer.predicate.triggersWhen" options="triggerWhenConditions" disabled="trigger.triggerID"></div>
          </div>
          <div>
            <condition-tree schema="dataContainer.sourceSchema.statesSchema.properties" result="dataContainer.predicate.condition" disabled="trigger.triggerID"></condition-tree>
          </div>
        </uib-tab>
        <uib-tab heading="触发策略">
          <select-policy thing-number="dataContainer.thingNumber" policy="dataContainer.policy" disabled="trigger.triggerID"></select-policy>
        </uib-tab>
        <uib-tab heading="定时器">
          <div class="form-group text-left">
            <label><input type="checkbox" ng-disabled="!!trigger.triggerID" ng-model="dataContainer.schedule.enabled"/>启用定时器</label>
          </div>
          <select-schedule schedule="dataContainer.schedule" ng-if="dataContainer.schedule.enabled" disabled="trigger.triggerID" disabled="trigger.triggerID"></select-schedule>
        </uib-tab>
      </uib-tabset>
    </uib-slide>
    <!-- =========================== end of set trigger rule  ==================================== -->

    <!-- =========================== select trigger target ==================================== -->
    <uib-slide active="currentStep == 3">
      <div class="new-source" ng-click="createTarget()" ng-if="!trigger.triggerID"><span class="fa fa-plus"></span> 新建目标</div>
      <multi-source-picker sources="dataContainer.myTargets" disabled="trigger.triggerID"></multi-source-picker>
    </uib-slide>
    <!-- =========================== end of select trigger target  ==================================== -->

    <!-- =========================== select trigger command  ==================================== -->
    <uib-slide active="currentStep == 4">
      <uib-accordion close-others="oneAtATime" class="multi-source">
        <uib-accordion-group heading="{{'命令-' + ($index + 1)}}" ng-repeat="targetSchema in dataContainer.targetSchemas">
          <trigger-command my-actions="targetSchema.actions" disabled="trigger.triggerID"></trigger-command>
        </uib-accordion-group>
      </uib-accordion>
    </uib-slide>
    <!-- =========================== end of select trigger command  ==================================== -->
  </uib-carousel>
  <hr/>
  <div class="panel-foot clearfix">
    <trigger-control-group trigger="trigger"></trigger-control-group>
    <div class="pull-right" ng-if="!trigger.triggerID">
      <button class="btn btn-success" ng-click="previousStep(currentStep)" ng-show="currentStep>1">上一步</button>
      <button class="btn btn-danger" ng-click="nextStep(currentStep)">{{currentStep < 4?'下一步':'完成'}}</button>
    </div>
  </div>
</div>