<div class="app-portal-triggermanager-triggerdetail-triggerconditionlist" ng-controller="TriggerConditionListController">
  <div class="panel">
    <div class="panel-body">
      <h4 
        uib-tooltip="{{'triggerManager.requireConditionMsg' | translate}}"
        tooltip-trigger="'none'"
        tooltip-placement="top"
        tooltip-is-open="ruleform.$submitted
          && !triggerData.conditionGroups.length"
      >{{'triggerManager.ruleConditions' | translate}}</h4>
      <div class="table-holder">
        <div class="form-group">
          <div app-select options="options" selected-model="trigger.any" value-only="true"></div>
          <span>条件</span>
          <div app-select options="triggersWhenOptions" selected-model="trigger.triggersWhen" value-only="true"></div>
        </div>
        <table class="property-table">
          <tbody>
            <tr ng-repeat="conditionGroup in trigger.conditionGroups" ng-click="editConditionGroup(conditionGroup.type, conditionGroup.id)">
              <td><span class="fa fa-circle-o"></span>{{conditionGroup.typeDisplayName}} <div class="v-hr"></div></td>
              <td><span ng-repeat="property in conditionGroup.properties">{{property.displayName}}{{property.expressionDisplay}}{{getPropertyValue(property)}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-add-param" ng-click="addConditionGroup()">
        <span class="fa fa-plus-circle"></span>
        <span>{{'triggerManager.addCondition' | translate}}</span>
      </div>
    </div>
  </div>
</div>