<div class="json-editor">
  <table class="table">
    <thead>
      <tr>
        <th>参数名</th>
        <th>参数值</th>
        <th>参数类型</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="field in fieldList">
        <td><input type="text" ng-model="field.fieldName" class="form-control"/></td>
        <td ng-switch on="field.type">
          <input ng-switch-when="float" class="form-control" type="text" ng-model="field.value" />
          <input ng-switch-when="string" class="form-control" type="text" ng-model="field.value" />
          <div ng-switch-when="boolean" app-select options="booleanValues" selected-model="field.value" value-only="true"></div>
        </td>
        <td><div app-select options="typeOptions" selected-model="field.type" value-only="true"></div></td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="add-arg" ng-click="addField()"><span class="fa fa-plus"></span>添加参数</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>