@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

$click-cursor: pointer;


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin box-shadow($shadow){ 
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}


@mixin filter($filter){
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
  -ms-filter: $filter;
}

.inline{
  display: inline-block;
  margin-right: 10px;
}

.table.form-table{
  tbody > tr > td{
    border-top: none;
    &:first-child{
      line-height: 30px;
      padding-left: 0px;
      width: 80px;
    }
  }
}

.btn-add-param{
  cursor: pointer;
  border: solid 1px;
  border-color: #ccc;
  padding: 4px 10px;
  border-radius: 40px;
  .fa{
    font-size: 10px;
    position: relative;
    top: -1px;
    color: #88ab1e;
  }
  &:hover{
    border-color: #89ccdf;
    color: #89ccdf;
    .fa{
      color: #89ccdf;
    }
  }
}

.btn{
  &.btn-warning{
    background-color: #fba141;
  }
  &.btn-lg{
    padding: 10px 60px;
    font-size: 14px;
  }
}


.panel{
  .panel-body{
    & > h4{
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
    }
  }
}