@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

$click-cursor: pointer;


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin box-shadow($shadow){ 
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin flex($flex){
  -webkit-box-flex: $flex;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $flex;         /* OLD - Firefox 19- */
  -webkit-flex: $flex;          /* Chrome */
  -ms-flex: $flex;              /* IE 10 */
  flex: $flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex-direction($direction){
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin display-flex(){
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;  
}

@mixin justify-content($just){
  -webkit-justify-content: $just;
  justify-content: $just;
  -webkit-box-align: $just; 
  -moz-box-align: $just;
  -webkit-box-align: $just; 
  -moz-box-align: $just;
  -ms-flex-align: $just; 
  -webkit-align-items: $just;
  align-items: $just;
}

@mixin filter($filter){
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
  -ms-filter: $filter;
}


$color-danger: #f05050;
$color-info: #61c9d2;
$color-warning: #fba141;
$color-dark: #000;
$color-bg-grey: #e6ecf0;
.btn-warning{
  background: $color-warning;
}
.text-warning{
  color: $color-warning;
} 
