<div class="app-portal-triggermanager-triggerdetail-triggerinfo" ng-controller="TriggerInfoController">
  <div class="panel">
    <div class="panel-body">
      <h4>规则信息</h4>
      <table class="table form-table">
        <tbody>
          <tr>
            <td>规则名称</td>
            <td><input type="text" class="form-control" ng-model="trigger.name"></td>
          </tr>
          <tr ng-if="trigger.triggerID && !trigger.fromGateway">
            <td>启用状态</td>
            <td><div yes-text="启用" no-text="禁用" switchery="trigger.enabled" change="toggleTriggerState(value)"></div></td>
          </tr>
          <tr>
            <td>规则说明</td>
            <td><textarea class="form-control" rows="4" ng-model="trigger.description"></textarea></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>