<div class="app-portal-triggermanager-triggerdetail-triggerinfo" ng-controller="TriggerInfoController">
  <div class="panel">
    <div class="panel-body">
      <h4>{{'triggerManager.ruleInfo' | translate}}</h4>
      <table class="table form-table">
        <tbody>
          <tr>
            <td>{{'triggerManager.ruleName' | translate}}</td>
            <td>
              <input type="text" class="form-control"
                name="rulename"
                ng-model="trigger.name" required
                placeholder="{{'triggerManager.ruleName' | translate}}"

                uib-tooltip="{{'triggerManager.requireRuleNameMsg' | translate}}"
                tooltip-trigger="'none'"
                tooltip-placement="top"
                tooltip-is-open="(ruleform.$submitted 
                    || ruleform.rulename.$touched) 
                  && !!ruleform.rulename.$error.required"/>
            </td>
          </tr>
          <tr ng-if="trigger.triggerID && !trigger.fromGateway">
            <td>{{'triggerManager.status' | translate}}</td>
            <td><div yes-text="terms.enable" no-text="terms.disable" switchery="trigger.enabled" change="toggleTriggerState(value)"></div></td>
          </tr>
          <tr ng-if="!hideDescription">
            <td>{{'terms.description' | translate}}</td>
            <td><textarea class="form-control" rows="4" ng-model="trigger.description"></textarea></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>