.app-portal-reporting .panel.header .panel-body {
  padding: 5px 10px; }

.app-portal-reporting .panel.header .panel-row {
  line-height: 50px; }
  .app-portal-reporting .panel.header .panel-row .fa {
    position: relative;
    top: 4px;
    margin-right: 5px;
    font-size: 24px; }
  .app-portal-reporting .panel.header .panel-row .title {
    margin-right: 10px; }

.app-portal-reporting .panel.header .table {
  margin-bottom: 0px; }
  .app-portal-reporting .panel.header .table > tbody > tr > td {
    border-top: none;
    line-height: 32px; }

.app-portal-reporting .panel.header .v-hr {
  border-right: 1px solid #ddd;
  height: 34px;
  font-size: 32px;
  font-weight: 100;
  color: #ddd;
  margin: 8px 5px; }

.app-portal-reporting .panel.header .time-picker {
  max-width: 390px;
  margin-top: 7px;
  margin-right: 5px; }

.app-portal-reporting .panel.header .fa-clock-o {
  color: #ffb589; }

.app-portal-reporting .panel.header .fa-map-marker {
  color: #5dd6d6; }

.app-portal-reporting .btn-info {
  margin: 8px;
  background-color: #39babd; }

.app-portal-reporting .chart-panel .panel-heading {
  background: transparent;
  border-bottom: none; }

.app-portal-reporting .chart-panel .chart-container .chart-content {
  float: left;
  padding-right: 160px;
  width: 100%; }

.app-portal-reporting .chart-panel .chart-container .chart-control {
  float: left;
  width: 140px;
  margin-left: -140px; }
  .app-portal-reporting .chart-panel .chart-container .chart-control .btn-split {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px; }
