<div class="app-portal-thingmanager-thingdetail" ng-init="init()">
  <!-- property of a thing -->
  <div class="col-sm-10 pull-mid">
    <div class="row clearfix portal-row">
      <h5>属性</h5>
    </div>
    <hr/>
    <div class="row clearfix portal-row">
      <div class="col-sm-4">设备ID</div>
      <div class="col-sm-8"><span>{{thing.globalThingID}}</span></div>
    </div>
    <div class="row clearfix portal-row">
      <div class="col-sm-4">设备位置</div>
      <div class="col-sm-8"><span>{{thing.location}}</span></div>
    </div>
    <div class="row clearfix portal-row">
      <div class="col-sm-4">设备种类</div>
      <div class="col-sm-8"><span>{{thing.type}}</span></div>
    </div>
    <div class="row clearfix portal-row">
      <div class="col-sm-4">位置</div>
      <div class="col-sm-8"><span>{{thing.location}}</span></div>
    </div>
    <div class="row clearfix portal-row">
      <div class="col-sm-4">标签</div>
      <div class="col-sm-8"><span>{{thing.tags.join(', ')}}</span></div>
    </div>
    <!-- end of property -->

    <hr/>

    <!-- status of a thing -->
    <div class="row clearfix portal-row">
      <h5>状态</h5>
    </div>
    <hr/>
    <div class="row clearfix portal-row" ng-repeat="(key, value) in thing.custom">
      <div class="col-sm-4">{{key}}</div>
      <div class="col-sm-8"><span>{{value}}</span></div>
    </div>

    <!-- end of status -->

    <hr/>

    <!-- rule of a thing -->
    <div class="row clearfix portal-row">
      <h5>规则</h5>
    </div>
    <hr/>
    <div class="row clearfix portal-row" ng-repeat="rule in thing.rules">
      <div class="col-sm-4">{{rule.name}}</div>
      <div class="col-sm-8"><span>{{rule.description}}</span></div>
    </div>
    <hr/>
    <div class="row clearfix portal-row">
      <div class="pull-right">
        <button class="btn btn-danger">控制历史</button>
        <button class="btn btn-danger" ng-click="openEditRuleModal(thing)">添加规则</button>
        <button class="btn btn-danger" ng-click="openRemoteControl(thing)">远程控制</button>
        <button class="btn btn-danger" ng-click="goThingACL()">控制权限</button>
      </div>
    </div>
    <!-- end of rule -->
  </div>
</div>