@import 'src/app/shared/global.scss';

@import 'bower_components/animatewithsass/animate.scss';
.app-portal-triggermanager-triggerlist{
    position: relative;
    min-height: 400px;

    $color-schedule: #ffc888;
    $color-schedule-title: #d87500;
    $color-conditional: #9bd1c0;
    $color-conditional-title: #71ac9b;

    $color-disabled-background: #dcdcdc;
    $color-disabled: #b8b8b8;
    $color-disabled-title: #9d9d9d;

    .main-content{
        padding-right: 100px;
        width: 100%;

        .trigger-row{
            cursor: pointer;
            .fa-ban{
                position: absolute;
                font-size: 90px;
                color: rgba(255,255,255,0.9);
                left: 26px;
                top: 20px;
            }
            .fa-trash{
                color: #f05050;
                display: none;
                cursor: pointer;
            }
            .fa-server{
                color: #72c0f1;
            }
            .trigger-img{
                text-align: center;
                font-size: 17px;
            }
            &:hover{
                .fa-trash{
                    display: block;
                }
            }
            &.schedule{
                .trigger-img{
                    color: $color-schedule;
                }
            }
            &.conditional{
                .trigger-img{
                    color: $color-conditional;
                }
            }
            &.disabled{
                color: $color-disabled;
                .fa-server{
                    color: $color-disabled;
                }
            }
        }
    }
    ul.view-control{
        list-style: none;
        top: 0px;
        position: absolute;
        right: 0px;
        li{
            color: #fff;
            padding: 5px 7px;
            cursor: pointer;
            .fa{
                display: block;
                width: 14px;
                margin-right: 8px;
                float: left;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
            &.view{
                color: #000;
                background:#fff;
                input{
                    margin-right: 5px;
                }
            }
            &.type-item{
                &.schedule{
                    background: $color-schedule;
                }
                &.conditional{
                    background: $color-conditional;
                }
                &.disabled{
                    background: #dcdcdc !important;
                }
            }
        }
    }

    $toggle-size: 60px;
    .edit-toggle{
        display: block;
        @include border-radius(100%);
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: #fff;
        color: #72c0f1;
        font-size: 30px;
        width: $toggle-size;
        height: $toggle-size;
        line-height: $toggle-size;
        text-align: center;
        border: solid 1px #eee;
        cursor: pointer;
        @include box-shadow(3px 3px 5px 1px rgba(0,0,0,0.05));
        @include transition(all 0.2s);
        &:hover, &.active{
            @include box-shadow(3px 3px 5px 1px rgba(0,0,0,0.1));
        }
    }
    .edit-group{
        &.open{
            .edit-options{
                display: block;
            }
        }
        ul.edit-options{
            @include flipInX();
            margin-bottom: 0px;
            display: none;
            list-style: none;
            position: fixed;
            bottom: 40 + $toggle-size;
            right: 20px;

            li{
                margin-bottom: 5px;
                .btn-add-param{
                    background: #fff;
                }

                &.conditional{
                    .btn-add-param .fa{
                        color: $color-conditional;
                    }
                }
                &.schedule{
                    .btn-add-param .fa{
                        color: $color-schedule;
                    }
                }
            }
        }
    }

    
}