<div class="app-portal-triggermanager-triggerlist">
  <div class="main-content clearfix">
    <div class="panel">
      <div class="panel-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th align="center">种类</th>
              <th>规则名称</th>
              <th>归属</th>
              <th>创建者</th>
              <th>创建时间</th>
              <th align="center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr class="trigger-row" ng-repeat="trigger in triggers | filter:triggerFilter" ng-class="getTriggerClass(trigger)" ng-click="viewTrigger(trigger)">
              <td class="trigger-img" align="center">
                <span class="fa" ng-class="{'fa-clock-o': trigger.type == 'schedule', 'fa-code-fork': trigger.type=='conditional'}"></span>
              </td>
              <td>
                {{trigger.name}}
              </td>
              <td>
                <span class="fa fa-server" uib-tooltip="{{'triggerManager.gatewayRuleTip' | translate}}" ng-if="trigger.fromGateway"></span>
              </td>
              <td>
                {{credential.userName}}
              </td>
              <td>
                {{trigger.createDate | TimePipe}}
              </td>
              <td align="center">
                <span class="fa fa-trash" ng-click="deleteTrigger(trigger); $event.stopPropagation()"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div class="edit-group" uib-dropdown>
    <ul class="edit-options" role="menu">
      <li class="conditional">
        <div class="btn-add-param" ng-click="createConditionalTrigger()">
          <span class="fa fa-plus-circle"></span>
          <span>{{'triggerManager.conditionRule' | translate}}</span>
        </div>
      </li>
      <li class="schedule">
        <div class="btn-add-param" ng-click="createScheduleTrigger()">
          <span class="fa fa-plus-circle"></span>
          <span>{{'triggerManager.scheduleRule' | translate}}</span>
        </div>
      </li>
    </ul>

    <span class="fa fa-plus edit-toggle" uib-dropdown-toggle></span>
  </div>

  <ul class="view-control">
    <li class="view"><span class="fa fa-table""></span>{{'triggerManager.view' | translate}}</li>
    <li ng-click="toggleType(type)" class="{{type.name}} type-item" ng-class="{'disabled': type.disabled}" ng-repeat="type in typeList">
      <span class="fa" ng-class="type.icon"></span>{{type.displayName | translate}}
    </li>
    <li class="view"><label><input type="checkbox" name="" ng-model="showDisabled">{{'triggerManager.displayDisabled' | translate}}</label></li>
  </ul>
  <!--
  <div class="new-trigger" ng-click="createTrigger()"><span class="fa fa-plus"></span> 新建触发器</div>
  <uib-accordion close-others="true">
    <uib-accordion-group heading="{{trigger.triggerName}}" ng-repeat="trigger in triggers">
      <div ng-include="'app/components/portal/TriggerManager/TriggerSetting.template.html'"></div>
    </uib-accordion-group>
  </uib-accordion>
  -->
</div>