<div class="app-portal-triggermanager-triggerlist">
  <div class="main-content clearfix">

    <div class="trigger-tile" ng-class="getTriggerClass(trigger)" ng-repeat="trigger in triggers | filter:triggerFilter" ng-click="viewTrigger(trigger)">
      <div class="trigger-img">
        <span class="fa" ng-class="{'fa-clock-o': trigger.type == 'schedule', 'fa-code-fork': trigger.type=='conditional'}"></span>
      </div>
      <span class="fa fa-ban" ng-if="trigger.disabled"></span>
      <div class="description">
        <h4>{{trigger.name}}</h4>
        <span>{{trigger.createdAt}}</span>
      </div>

      <span class="fa fa-server" uib-tooltip="这是一个网管端的规则。" ng-if="trigger.fromGateway"></span>
      <span class="fa fa-trash" ng-click="deleteTrigger(trigger); $event.stopPropagation()"></span>
    </div>

  </div>
  
  <div class="edit-group" uib-dropdown>
    <ul class="edit-options" role="menu">
      <li class="conditional">
        <div class="btn-add-param" ng-click="createConditionalTrigger()">
          <span class="fa fa-plus-circle"></span>
          <span>条件规则</span>
        </div>
      </li>
      <li class="schedule">
        <div class="btn-add-param" ng-click="createScheduleTrigger()">
          <span class="fa fa-plus-circle"></span>
          <span>定时规则</span>
        </div>
      </li>
    </ul>

    <span class="fa fa-plus edit-toggle" uib-dropdown-toggle></span>
  </div>

  <ul class="view-control">
    <li class="view"><span class="fa fa-table""></span>视图</li>
    <li ng-click="toggleType(type)" class="{{type.name}} type-item" ng-class="{'disabled': type.disabled}" ng-repeat="type in typeList">
      <span class="fa" ng-class="type.icon"></span>{{type.displayName}}
    </li>
    <li class="view"><label><input type="checkbox" name="" ng-model="showDisabled">显示禁用</label></li>
  </ul>
  <!--
  <div class="new-trigger" ng-click="createTrigger()"><span class="fa fa-plus"></span> 新建触发器</div>
  <uib-accordion close-others="true">
    <uib-accordion-group heading="{{trigger.triggerName}}" ng-repeat="trigger in triggers">
      <div ng-include="'app/components/portal/TriggerManager/TriggerSetting.template.html'"></div>
    </uib-accordion-group>
  </uib-accordion>
  -->
</div>