<div class="app-portal-monitormanager-view" ng-init="init()">
  <!-- start tile  -->
  <div class="graph-tile new" ng-click="newView()">
    <div class="graph-content">
      <div class="fa fa-plus" aria-hidden="true"></div>
      <div>添加监控频道</div>
    </div>
  </div>
  <div class="graph-tile" ng-repeat="v in views track by v.id ">
    <div class="module-top ">
      <div class="overlay ">
        <div class="viewReport " ng-click="monitoring(v) ">
          查看
        </div>
      </div>
      <div class='outputs-content-img'>
        <div>{{v.name}}</div>
      </div>
    </div>
    <div class="moduleDetails ">
      <div class='per-info'>
        <span class='info'>设备数量： {{v.count}}</span>
      </div>
    </div>
  </div>
  <!-- end tile  -->
</div>