<div class="app-portal-monitormanager-view" ng-init="init()">
  <div class="tile-wrap clearfix">
    <!-- start tile  -->
    <div class="graph-tile new" ng-click="newView()">
      <div class="graph-content">
        <div class="fa fa-plus" aria-hidden="true"></div>
        <div>添加监控频道</div>
      </div>
    </div>
    <div class="graph-tile view" ng-repeat="v in views track by v.id" ng-mousemove="mousemove($event, v)">
      <i class="fa fa-minus-circle" aria-hidden="true" ng-click="delete($index, v)"></i>
      <div class="graph-content" ng-click="monitoring(v)">
        <img src="images/icon_monitoring_view.png" alt="">
        <div class="name">{{v.name}}</div>
        <div class="desc">设备数量： {{v.count}}</div>
        <div id="v_{{v.id}}" class="tooltip-desc" ng-if="v.desc">
          <div>{{v.desc}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- end tile  -->
</div>