<div ng-init="init()">
  <div class="text-left clearfix">
    <div class="pull-left">
      <span>源类型</span>
      <div app-select disabled="disabled" selected-model="mySource.sourceType" options="sourceTypes" class="input-group-btn" text="text" value-only="true"></div>
    </div>
    <div class="pull-left" style="margin-left: 50px" ng-if="mySource.sourceType == 'tag'">
      <span>交并集</span>
      <div app-select disabled="disabled" selected-model="mySource.andExpress" options="andExpressOptions" value-only="true"></div>
    </div>
    <div class="pull-left" style="margin-left: 50px" ng-if="mySource.sourceType == 'tag'">
      <span>设备类型</span>
      <multi-selector single="true" ng-if="!disabled" ng-model="mySource.selectedType" options="mySource.thingTypes" on-change="thingTypeChange"></multi-selector>
      <button ng-if="disabled" disabled="disabled" class="btn btn-default">{{mySource.type}}</button>
    </div>
  </div>
  <hr/>
  <div ng-if="!disabled">
    <div ng-show="mySource.sourceType =='thing'">
      <thing-selector selected-things="mySource.thingList" selected-thing-types="mySource.thingTypes"></thing-selector>
    </div>
    <div ng-show="mySource.sourceType =='tag'">
      <tag-selector selected-tags="mySource.tagList" tag-types="mySource.tagTypes"></tag-selector>
    </div>
  </div>
  <div ng-if="disabled">
    <div ng-if="mySource.thingList.length>0">
      已选设备: {{mySource.thingList.join(',')}}
    </div>
    <div ng-if="mySource.tagList.length>0">
      已选标签: {{mySource.tagList.join(',')}}
    </div>
  </div>
</div>