.inline {
  display: inline-block;
  margin-right: 10px; }

.table.form-table tbody > tr > td {
  border-top: none; }
  .table.form-table tbody > tr > td:first-child {
    line-height: 30px;
    padding-left: 0px;
    width: 80px; }

.btn-add-param {
  cursor: pointer;
  border: solid 1px;
  border-color: #ccc;
  padding: 4px 10px;
  border-radius: 40px; }
  .btn-add-param .fa {
    font-size: 10px;
    position: relative;
    top: -1px;
    color: #88ab1e; }
  .btn-add-param:hover {
    border-color: #89ccdf;
    color: #89ccdf; }
    .btn-add-param:hover .fa {
      color: #89ccdf; }

.btn.btn-warning {
  background-color: #fba141; }

.btn.btn-lg {
  padding: 10px 60px;
  font-size: 14px; }

.panel .panel-body > h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px; }

.md-dialog-container {
  z-index: 10000; }

table.detail-content {
  width: 100%; }
  table.detail-content td {
    padding: 5px; }
  table.detail-content > tbody > tr > td:first-child {
    width: 80px; }

.break-word {
  word-break: break-all; }

.panel-body .carousel-indicators, .modal-content .carousel-indicators {
  display: none; }

.panel-body .carousel-control, .modal-content .carousel-control {
  display: none; }

.tab-content {
  padding: 20px 10px;
  background: #fff;
  min-height: 240px;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  overflow: auto; }

.portal-row {
  margin-bottom: 10px; }
  .portal-row:after {
    display: table;
    content: " ";
    clear: both; }

.app-nav-bar li a:hover {
  background-color: #eee; }

.app-nav-bar li a {
  cursor: pointer; }

.app-nav-bar li.active a, .app-nav-bar li.active a:hover {
  background-color: #eee; }

.app-nav-bar li.active li a:hover {
  background-color: #ddd; }

.app-nav-bar li.active li.active a {
  background-color: #ddd; }

.app-nav-bar li.active li.active li a:hover {
  background-color: #ccc; }

.app-nav-bar li.active li.active li.active a {
  background-color: #ccc; }

ol.breadcrumb li a {
  cursor: pointer; }

.pull-mid {
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block; }

.inline {
  display: inline-block; }

.position-fixed {
  position: fixed !important; }

.dropdown-menu li {
  cursor: pointer; }

/*
 * Tab style
 */
.tabs-with-border > div > .tab-content {
  height: 255px;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: auto;
  padding-top: 10px;
  background: #fff; }

/* === end of tab style */
/* === tree control ====*/
treecontrol ul {
  overflow: visible;
  white-space: nowrap;
  text-align: left; }

/* === portal rule clause == */
.clause {
  display: inline-block;
  float: left;
  font-size: 13px;
  padding: 7px;
  border-radius: 8px;
  border: 1px solid #87CEFA;
  background-color: #ADD8E6;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 7px;
  cursor: pointer; }
  .clause:after {
    display: table;
    content: " "; }
  .clause:last-child {
    margin-right: 0px; }
  .clause.join {
    background-color: #d9534f; }
  .clause.active {
    background-color: #2e6da4; }
    .clause.active .clause {
      background-color: #2e6da4; }
    .clause.active .clause.join {
      background-color: #d9534f; }

/* === Spinner === */
#spinner {
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2000; }

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: fixed;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

tag .fa-remove:hover {
  color: #333; }

/**
 * awesome font
 */
.fa.operator.fa-remove, .fa.operator.fa-plus, .fa.operator.fa-edit, .fa.operator.fa-refresh {
  cursor: pointer; }
  .fa.operator.fa-remove:hover, .fa.operator.fa-plus:hover, .fa.operator.fa-edit:hover, .fa.operator.fa-refresh:hover {
    color: #63b7e6; }

table .fa.fa-remove {
  color: #a94442; }

table .fa.fa-check {
  color: #7dcc93; }
