.portal-row {
  margin-bottom: 10px; }

.app-nav-bar li a:hover {
  background-color: #eee; }

.app-nav-bar li a {
  cursor: pointer; }

.app-nav-bar li.active a, .app-nav-bar li.active a:hover {
  background-color: #eee; }

.app-nav-bar li.active li a:hover {
  background-color: #ddd; }

.app-nav-bar li.active li.active a {
  background-color: #ddd; }

.app-nav-bar li.active li.active li a:hover {
  background-color: #ccc; }

.app-nav-bar li.active li.active li.active a {
  background-color: #ccc; }

ol.breadcrumb li a {
  cursor: pointer; }

.pull-mid {
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block; }

.inline {
  display: inline-block; }

.select-inline {
  display: inline-block; }

.select-inline.btn-group {
  display: table-cell; }

.position-fixed {
  position: fixed !important; }

.dropdown-menu li {
  cursor: pointer; }
