<div class="modal-content">
  <div class="modal-header ng-scope">
      <h3 class="modal-title">新增触发器</h3>
  </div>
  <div class="modal-body clearfix">
    <div class="col-sm-12">
      <div class="row portal-row clearfix">
        <div class="col-sm-4">触发器名称</div>
        <div class="col-sm-8"><input ng-model="triggerBO.triggerName" type="text" class="form-control" placeholder="触发器名称" /></div>
      </div>
      <div class="row portal-row clearfix">
        <div class="col-sm-4">触发器类型</div>
        <div class="col-sm-8"><div app-select selected-model="triggerBO.triggerType" options="triggerTypes" class="input-group-btn" text="text" value-only="true"></div></div>
      </div>
    </div>
  </div>
  <div class="modal-footer ng-scope">
      <button class="btn btn-primary" type="button" ng-click="ok(triggerBO)" ng-disable="triggerBO.triggerName.length==0">确认</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
  </div>
</div>