<div class="thing-location-selector">
  <div class="row">
    <div class="col-sm-4">
      <div class="row form-group">
        <div class="col-sm-4">
          <label for="selectBuilding">{{'location.building' | translate}}</label>
          <select class="form-control" id="selectBuilding" placeholder="Building" ng-options="building.displayName for building in location.building track by building.location" ng-model="level.building" ng-change="changeBuilding()">
            <option value="">{{'controls.selectDefault' | translate}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <label for="selectFloor">{{'location.floor' | translate}}</label>
          <select class="form-control" id="selectFloor" placeholder="Floor" ng-options="floor.displayName for floor in location.floor track by floor.location" ng-model="level.floor" ng-change="changeFloor()">
            <option value="">{{'controls.selectDefault' | translate}}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <label for="selectArea">{{'location.partition' | translate}}</label>
          <select class="form-control" id="selectArea" placeholder="Area" ng-options="area.displayName for area in location.area track by area.location" ng-model="level.area" ng-change="changeArea()">
            <option value="">{{'controls.selectDefault' | translate}}</option>
          </select>
        </div>
      </div>
      <div class="row scrollable">
        <table class="table table-hover">
          <thead>
            <th></th>
            <th>{{'terms.things' | translate}}</th>
            <th>{{'terms.type' | translate}}</th>
          </thead>
          <tbody>
            <tr ng-class="{'success':o.select}" ng-repeat="o in things track by o.id" ng-click="o.select=!o.select" ng-if="!o.hidden">
              <td>
                <input type="checkbox" ng-model="o.select" ng-click="o.select=!o.select">
              </td>
              <td>{{o.vendorThingID}}</td>
              <td>{{o.type}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button class="btn btn-link" ng-click="selectAll(things)">{{'controls.selectAll' | translate}}</button>
        <div class="fa fa-plus-circle pull-right" ng-click="add()"></div>
      </div>
    </div>

    <div class="col-sm-8">
      <table class="table table-bordered table-hover">
        <thead>
          <th></th>
          <th>{{'terms.things' | translate}}</th>
          <th>{{'terms.type' | translate}}</th>
          <th>{{'terms.location' | translate}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="o in detail track by o.id" ng-click="o.select=!o.select">
            <td><input type="checkbox" ng-model="o.select" ng-click="o.select=!o.select"></td>
            <td>{{o.vendorThingID}}</td>
            <td>{{o.type}}</td>
            <td>{{o.vendorThingID | locTag}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <button class="btn btn-link" ng-click="selectAll(detail)">{{'controls.selectAll' | translate}}</button>
              <button class="btn btn-link text-yellow" ng-click="delete(detail)">{{'controls.delete' | translate}}</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>