.directive-app-select .btn {
  background: #fff;
  border-radius: 1px; }
  .directive-app-select .btn .caret {
    margin-left: 20px; }

.directive-app-select.btn-group {
  display: table-cell; }

.directive-app-select.input-group-addon button {
  padding: 0px;
  display: inline-block;
  background: transparent;
  border: none;
  box-shadow: none; }

.directive-app-select .dropdown-menu {
  min-width: auto; }
