<div class="app-portal-thingviews-typeview" ng-init="init()">
  <!-- start tile  -->
  <div class='modules-outputs-content graph-tile' ng-repeat="type in thingTypes">
    <div class="module-top">
        <div class="overlay">
           <div class="viewReport" ng-click="viewThings(type)">
               查看
           </div>                   
        </div>
      <div class='outputs-content-img'><img ng-src="{{'images/bulb.jpeg'}}" /></div>   
    </div>
    <div class="moduleDetails">
         <div class='per-info'>
            
            <span class='info'>{{type.type}} <br/>设备数量： {{type.count}}</span>
         </div><!-- end per info -->
         <div class="modulesActionBottom">
         </div>
    </div>
    
    <div class="modulesActionsTop">
       <i class="fa fa-pencil-square-o" uib-tooltip="编辑" ng-click="editType(type)" uib-tooltip-trigger="mouseenter" uib-tooltip-placement="top"></i>
       <i class="fa fa-trash-o" uib-tooltip="删除" uib-tooltip-trigger="mouseenter" uib-tooltip-placement="top"></i>
    </div>
  </div>
  <!-- end tile  -->
</div>