.app-portal-reporting{
  .btn-info{
    margin: 8px;
    background-color: #39babd;
  }
  .chart-panel{
    .panel-heading{
      background: transparent;
      border-bottom: none;
    }
    .chart-container{
      .chart-content{
        float: left;
        padding-right: 160px;
        width: 100%;
      }
      .chart-control{
        .btn-split{
          width: 100%;
          margin: 0px;
          margin-bottom: 5px;
        }
        float: left;
        width: 140px;
        margin-left: -140px;
      }
    }
  }
  
}