<div class="app-portal-thingmanager-controlthing" ng-init="init()">
  <div class="panel">
    <div class="panel-heading">发送设备命令</div>
    <div class="panel-body">
      <uib-carousel no-wrap="noWrapSlides">
        <!-- ============================== select source ========================== -->
        <uib-slide active="currentStep == 1">
          <source-picker my-source="dataContainer.mySource" init="init" ng-if="refreshed"></source-picker>
        </uib-slide>
        <!-- ========================= end of select source ======================== -->
        <uib-slide active="currentStep == 2">
          <trigger-command my-actions="dataContainer.sourceSchema.actions" ng-if="refreshed"></trigger-command>
        </uib-slide>
      </uib-carousel>
      <hr/>
      <div class="panel-foot clearfix">
        <button class="btn btn-danger pull-right margin-left" ng-click="nextStep(currentStep)">{{currentStep < 2?'下一步':'完成'}}</button>
        <button class="btn btn-success pull-right" ng-click="currentStep = currentStep - 1" ng-show="currentStep>1">上一步</button>
      </div>
    </div>
  </div>
</div>
