<div class="app-portal-thingviews-thingdetail">
  <!-- property of a thing -->
  <div class="row flex-row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">属性</div>
        <div class="panel-body">
          <table>
            <tr><td class="title">设备ID</td><td>{{thing.globalThingID}}</td></tr>
            <tr><td class="title">vendorThingID</td><td>{{thing.vendorThingID}}</td></tr>
            <tr><td class="title">设备位置</td><td>{{thing.locationDisplayName}}</td></tr>
            <tr><td class="title">设备种类</td><td>{{thing.typeDisplayName}}</td></tr>
            <tr>
              <td class="title">已登录</td>
              <td><span class="fa" ng-class="thing.fullKiiThingID?'fa-check': 'fa-remove'"></span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          设备状态 <span class="fa fa-refresh operator" ng-click="refreshStatus()"></span>
        </div>
        <div class="panel-body">
          <table ng-show="!statusOnEdit">
            <tr ng-repeat="property in thing.status">
              <td class="title">{{property.displayName}}</td>
              <td>{{property.value}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <div class="panel-body">
      <button class="btn btn-lg btn-info" ng-click="sendCommand()">{{'thing.sendCommand' | translate}}</button>
    </div>
  </div>

  <div class="panel header">
    <div class="panel-body">
      <div class="panel-row">
        <div class="pull-left">
          <div class="title pull-left">
            <span class="fa fa-clock-o"></span>
            时间段
          </div>
          <div class="pull-left time-picker">
            <rp-date-picker output="onPeriodChange"></rp-date-picker>
          </div>
        </div>
        <div>
          <button class="btn btn-info btn-ctrl" ng-click="searchThingCommands()">查询控制历史</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel table">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>操作</th>
            <th>状态</th>
            <th>发送时间</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="command in thingCommandsForDisplay">
            <td>{{command.actionNames.join(' ')}}</td>
            <td>{{command.commandState}}</td>
            <td>{{command.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pull-right">
    <pagion collection="thingCommands" display="thingCommandsForDisplay"></pagion>
  </div>
</div>
<script type="text/ng-template" id="ThingDetailController.SendCommand">
<div class="modal-content app-portal-thingmanager-controlthing">
  <div class="modal-header ng-scope">
      <h3 class="modal-title">{{'thing.sendCommand' | translate}}</h3>
  </div>
  <div class="modal-body ng-scope clearfix trigger-actions">
    <h4>{{'thing.action' | translate}}</h4>
    <div class="row flex-row">
      <div class="col-sm-4">
        <span class="action" ng-class="{'active': action._selected}" ng-repeat="action in actions" ng-click="toggleAction(action)">
          {{action.displayName}}
        </span>
      </div>
      <div class="col-sm-8">
        <div class="selected-action clearfix" ng-repeat="action in actionGroup.actions">
          <h4>{{action.displayName}}</h4>
          <hr/>
          <div class="selected-property" ng-repeat="property in action.properties">
            <!-- not enum -->
            <div ng-if="!property.enumType && (property.type=='int' || property.type=='float')">
              <label>{{property.displayName}} <span class="fa fa-info-circle" ng-if="property.tooltip" uib-tooltip="{{property.tooltip}}"></span></label>
              <number-input ng-model="property.value" min="property.minimum" max="property.maximum" type="property.type"></number-input>
            </div>

            <!-- enmu: boolean -->
            <div ng-if="property.enumType == 'BOOLEAN' || property.type == 'boolean'">
              <label>{{property.displayName}}</label>
              <div switchery="property.value" options="property.options"></div>
            </div>

            <!-- enmu: number -->
            <div ng-if="property.enumType == 'NUMBER'">
              <label>{{property.displayName}}</label>
              <div app-select options="property.options" selected-model="property.value"></div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-warning btn-lg pull-center" ng-click="sendCommand()">{{'thing.sendCommand' | translate}}</button>
  </div>
</script>