<div class="app-portal-monitormanager-monitoring">
  <div class="container-fluid">
    <div class="row">
      <div class="func-group pull-right">
        <button class="btn btn-info hide"><i class="fa fa-refresh" aria-hidden="true"></i> 实时刷新</button>
        <button class="btn btn-link" ng-click="modify()"><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</button>
      </div>
    </div>

    <div class="card-columns">

      <div class="card" ng-repeat="o in view.detail track by o.globalThingID">
        <div class="light power"></div>
        <div class="name">{{o.vendorThingID}}</div>
        <div class="card-content">
          <thing-if-state ng-state="o.state"></thing-if-state>
        </div>
        <div class="type">{{o.type | typeName}} | {{o.vendorThingID | locTag}}</div>
        <div class="icon"></div>
      </div>

    </div>
  </div>
</div>