<div class="app-portal-monitormanager-monitoring">
  <div class="container-fluid">
    <div class="row">
      <div class="func-group pull-right">
        <button class="btn btn-info hide"><i class="fa fa-refresh" aria-hidden="true"></i> 实时刷新</button>
        <button class="btn btn-link" ng-click="modify()"><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</button>
      </div>
    </div>

    <div class="card-columns">

      <!-- START card -->
      <div class="card" ng-class="{'off': o.off}" ng-repeat="o in view.detail track by o.id">
        <div class="card-head">
          <div class="icon-link">
            <div class="bar"></div>
            <div class="stop" ng-if="o.off"></div>
          </div>
          <div class="name">{{o.vendorThingID}}</div>
        </div>
        <div class="card-body">
          <div class="state-wrap" ng-repeat="s in o.status">
            <span class="state">{{s.displayName}}：</span><span class="value">{{s.value}}</span>
          </div>
        </div>
        <div class="type">{{o.typeDisplayName}} | {{o.vendorThingID | locTag}}</div>
        <div class="icon">
          <img src="images/icon_monitoring_on.png" width="69" height="25" alt="" ng-if="!o.off">
          <img src="images/icon_monitoring_off.png" width="69" height="25" alt="" ng-if="o.off">
        </div>
      </div>
      <!-- END card -->

    </div>
  </div>
</div>