<div class="app-portal-monitormanager-monitoring">
  <div class="container-fluid">
    <div class="row">
      <div class="func-group pull-right">
        <button class="btn btn-info hide"><i class="fa fa-refresh" aria-hidden="true"></i> 实时刷新</button>
        <button class="btn btn-link" ng-click="modify()"><i class="fa fa-pencil" aria-hidden="true"></i> 编辑</button>
      </div>
    </div>

    <div class="card-columns">

      <!-- START card -->
      <div class="card" ng-class="{'off': o.off}" ng-repeat="o in view.detail track by o.id">
        <div class="light power"></div>
        <div class="name">{{o.vendorThingID}}</div>
        <div class="card-content">
          <div class="state-wrap" ng-repeat="s in o.state">
            <span class="state">{{s.name}}：</span><span class="value">{{s.value}}</span>
          </div>
        </div>
        <div class="type">{{o.type | typeName}} | {{o.vendorThingID | locTag}}</div>
        <div class="icon"></div>
      </div>
      <!-- END card -->

    </div>
  </div>
</div>