<div class="app-portal-thingviews-thinglist" ng-init="init()">
  <section class="panel table">
    <header class="panel-heading">设备列表</header>
    <div class="panel-body">
      <table class="table table-striped table-hover dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
              <th class="sorting_asc" rowspan="1" colspan="1">设备ID</th>
              <th class="sorting">vendorThingID</th>
              <th class="sorting" rowspan="1" colspan="1" aria-sort="ascending">种类</th>
              <th class="sorting" rowspan="1" colspan="1">位置</th>
              <th class="text-center">已登陆</th>
            </tr>
        </thead>
        <tbody>
          <tr class="gradeA" ng-class="{'odd':$index%2==1}" role="row" ng-repeat="thing in thingsForDisplay" context-menu="myMenu" target="thing" ng-click="viewThing(thing)">
            <td>{{thing.id}}</td>
            <td>{{thing.vendorThingID}}</td>
            <td class="sorting_1">{{thing.type}}</td>
            <td>{{thing.locations.join(',')}}</td>
            <td class="text-center"><span class="fa" ng-class="thing.fullKiiThingID?'fa-check': 'fa-remove'"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="pull-right">
    <pagion collection="things" display="thingsForDisplay"></pagion>
  </div>
</div>