<div class="app-portal-usermanager-user-newuser" ng-init="init()">
  <section class="panel">
    <header class="panel-heading">用户信息</header>
    <div class="panel-body">
      <form novalidate name="newUserForm" ng-submit="createUser()">
        <table class="detail-content">
          <tr>
            <td width="50px">
              <label>姓名</label>
            </td>
            <td>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="姓名" required ng-model="newUser.displayName"  required>
                <div app-select selected-model="newUser.custom.sex" options="sexOptions" class="btn-group input-group-btn" text="text" value-only="true"></div>
              </div>
            </td>
            <td width="50px">
              <label>角色</label>
            </td>
            <td>
              <div app-select selected-model="newUser.roleName" value-only="true" options="ruleOptions"></div>
            </td>
          </tr>
        </table>
        <div class="form-group">
          <label>用户名</label>
          <input ng-model="newUser.userName" type="text" required class="form-control" placeholder="用户名"  required=""/>
        </div>
        <div class="form-group">
          <label>公司</label>
          <input ng-model="newUser.company" type="text" class="form-control" placeholder="公司" />
        </div>
        <div class="form-group">
          <label>电话</label>
          <input type="text" class="form-control" placeholder="电话" ng-model="newUser.phone" required/>
        </div>
        <div class="form-group">
          <label>邮箱地址</label>
          <input type="text" class="form-control" placeholder="邮箱地址" ng-model="newUser.mail" required/>
        </div>
        <div class="form-group">
          <input type="submit" value="提交" name="submit" class="btn btn-danger pull-right" />
        </div>
      </form>
    </div>
  </section>
</div>