<div class="select-schedule text-left" ng-init="init()">
  <div class="form-group">
    <span>定时器类型</span>
    <div app-select disabled="disabled" selected-model="schedule.type" value-only="true" options="scheduleTypes"></div>
  </div>
  <div class="form-group" ng-if="schedule.type != 'Cron'">
    <table>
      <tr>
        <td>
          <input type="text" ng-disabled="disabled" ng-model="schedule.interval" class="form-control"/>
        </td>
        <td>
          <div disabled="disabled" app-select selected-model="schedule.timeUnit" options="intervalUnits" value-only="true" ></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="form-group" ng-if="schedule.type == 'Cron'">
    <cron-selection ng-disabled="disabled" output="schedule.cron" init="initCorn"></cron-selection>
  </div>
</div>