<div class="app-portal-scenariomanager-officeatmosphere clearfix">
  <div class="left-panel">
    <div class="item-container clearfix">
      <div class="draggable-item sensor" ng-repeat="location in selectedLocationNode.children" sglclick="locationOnClick(location, $event)" ng-dblclick="locationDoubleClick($event)" data-toggle="popover">
        <div class="icon-holder">
          <span class="fa fa-building"></span>
        </div>
        <div class="name">
          <span>{{location.name}}</span>
        </div>
      </div>
    </div>
    <hr/>
    <div class="controller-container clearfix">
      <div ng-repeat="controllerType in triggerControllerTypes" class="controller draggable-item icon-only" ctr-type="{{controllerType.type}}">
        <div class="icon-holder">
          <span class="{{controllerType.icon}}"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-panel clearfix">
    <div class="panel-bg">
      <div class="drawing-container">
        <svg width="100%" height="100%" id="svg">
          <g id="graph" fill="blue" stroke="2">
            
          </g>
        </svg>
      </div>
    </div>
    <div class="panel-wrapper clearfix">
      <!-- sensors -->
      <div class="col col-1">
        <div class="draggable-item sensor" ng-repeat="sensor in dataContainer.sensors">
          <div class="icon-holder">
            <span class="fa fa-rss"></span>
          </div>
          <div class="name">
            <span>{{sensor.vendorThingID}}</span>
          </div>
        </div>

        <!-- tips -->
        <div class="dragged tip" ng-class="{'in': dataContainer.sensors.length == 0}">
          <div class="icon-holder">
            <span class="fa fa-plus"></span>
          </div>
          <div class="name">
            <span>Drag Sensor</span>
          </div>
        </div>
        <!-- end of tips -->
      </div>
      <!-- end of sensors -->

      <!-- location -->
      <div class="col col-2">
        <div class="draggable-item location" ng-click="selectedLocationOnClick(location, $event)" ng-repeat="location in dataContainer.locations"  data-toggle="popover">
          <div class="icon-holder">
            <span class="fa fa-building"></span>
          </div>
          <div class="name">
            <span>{{location.name}}</span>
          </div>
        </div>

        <!-- tips -->
        <div class="dragged tip" ng-class="{'in': dataContainer.locations.length == 0}">
          <div class="icon-holder">
            <span class="fa fa-plus"></span>
          </div>
          <div class="name">
            <span>Drag Location</span>
          </div>
        </div>
        <!-- end of tips -->
      </div>
      <!-- end of location -->

      <!-- main operator -->
      <div class="col col-3">
        <div class="controller-holder">
          <div ng-if="dataContainer.mainController && dataContainer.mainController.type == 'timer'" ng-click="mainControllerOnClick(dataContainer.mainController, $event)" class="controller draggable-item icon-only main-controller" ctr-type="{{dataContainer.mainController.type}}" oa-mctrl panel="panelControl._$panel">
            <div class="icon-holder">
              <span class="{{dataContainer.mainController.icon}}"></span>
            </div>
          </div>
          <div ng-if="dataContainer.mainController && dataContainer.mainController.type == 'condition'" ng-click="mainControllerOnClick(dataContainer.mainController, $event)" class="controller draggable-item icon-only main-controller" ctr-type="{{dataContainer.mainController.type}}" oa-pctrl panel="panelControl._$panel">
            <div class="icon-holder">
              <span class="{{dataContainer.mainController.icon}}"></span>
            </div>
          </div>
          <div class="tip icon-only">
            <div class="icon-holder">
              <span class="fa fa-circle-o"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of main operator -->

      <!-- sub operators -->
      <div class="col col-4">
        <!-- tips -->
        <div class="icon-only tip" ng-if="dataContainer.equipments.length == 0">
          <div class="icon-holder">
            <span class="fa fa-circle-o"></span>
          </div>
        </div>
        <!-- end of tips -->
        <div class="controller-holder" ng-repeat="equipment in dataContainer.equipments" >
          <div ng-switch="equipment.subController.type">
            <div ng-switch-when="timer" ng-if="equipment.subController"  class="draggable-item icon-only sub-controller" ctr-type="{{equipment.subController.type}}" oa-mctrl panel="panelControl._$panel">
              <div class="icon-holder">
                <span class="fa" ng-class="equipment.subController.icon"></span>
              </div>
            </div>
            <div ng-switch-when="condition" ng-if="equipment.subController"  class="draggable-item icon-only sub-controller" ctr-type="{{equipment.subController.type}}" oa-pctrl panel="panelControl._$panel">
              <div class="icon-holder">
                <span class="fa" ng-class="equipment.subController.icon"></span>
              </div>
            </div>
          </div>
          <div class="icon-only tip" ng-style="{'display': equipment.subController?'none': 'block'}">
            <div class="icon-holder">
              <span class="fa fa-circle-o"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of sub operators -->

      <!-- equipment -->
      <div class="col col-5">
        <div class="draggable-item equip" ng-repeat="equipment in dataContainer.equipments">
          <div class="icon-holder">
            <span class="fa fa-lightbulb-o"></span>
          </div>
          <div class="name">
            <span>{{equipment.type}}</span>
          </div>
        </div>
        <!-- tips -->
        <div class="dragged tip" ng-class="{'in': dataContainer.equipments.length == 0}">
          <div class="icon-holder">
            <span class="fa fa-plus"></span>
          </div>
          <div class="name">
            <span>Drag Equips</span>
          </div>
        </div>
        <!-- end of tips -->
      </div>
      <!-- end of equipment -->
      <div class="tool-panel">
        <div class="item-holder-when-draggin trash"><span class="fa fa-trash"></span></div>
      </div>
    </div>
  </div>
  <div class="bottom-bar">
    <div class="bg"></div>
  </div>

  <!-- sensor holder -->
  <div class="hidden" id="sensor-holder">
    <div class="draggable-item sensor" ng-repeat="sensor in dataContainer.popedSensors">
      <div class="icon-holder">
        <span class="fa fa-rss"></span>
      </div>
      <div class="name">
        <span>{{sensor.vendorThingID}}</span>
      </div>
    </div>
  </div>
  <!-- end of sensor holder -->

  <!-- equipment holder -->
  <div class="hidden" id="equipment-holder">
    <div class="draggable-item equip" ng-repeat="equip in dataContainer.popedEquipments">
      <div class="icon-holder">
        <span class="fa fa-lightbulb-o"></span>
      </div>
      <div class="name">
        <span>{{equip}}</span>
      </div>
    </div>
  </div>
  <!-- end of equipment holder -->

  <script type="text/ng-template" id="office-atmosphere.popover-sensor.template.html">
    <div class="popover sensor-popover" role="tooltip">
      <div class="arrow"></div>
      <h3 class="popover-title"></h3>
      <div class="popover-content clearfix"></div>
    </div>
  </script>

  <script type="text/ng-template" id="office-atmosphere.popover-equip.template.html">
    <div class="popover equip-popover" role="tooltip">
      <div class="arrow"></div>
      <h3 class="popover-title"></h3>
      <div class="popover-content clearfix"></div>
    </div>
  </script>
</div>