<div class="modal-content">
  <div class="modal-header">
      <h3 class="modal-title">添加用户</h3>
  </div>
  <div class="modal-body clearfix">
      <div class="col-sm-12">
        <div class="row portal-row clearfix">
          <div class="col-sm-4">查询用户</div>
          <!-- search user input -->
          <div class="col-sm-8">
            <div class="input-group">
              <div class="btn-group input-group-btn" uib-dropdown>
                <button id="search-filter" type="button" class="btn btn-default" uib-dropdown-toggle>
                  用户名<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="search-filter">
                  <li role="menuitem"><a>用户名</a></li>
                  <li role="menuitem"><a>ID</a></li>
                </ul>
              </div>
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
          <!-- end of search user input -->
        </div>
      </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>