<div class="app-portal-usermanager-usergroup-groupuserlist" ng-init="init()">
  <section class="panel">
    <header class="panel-heading">{{'userManager.groupUserList' | translate}}</header>
    <div class="panel-body">
      <div class="clearfix portal-row row">
        <div class="col-sm-6">
          <span>{{'userManager.groupName' | translate}}: </span>
          <span>{{userGroup.userGroupName}}</span>
        </div>
        <!-- search user in group -->
        <div class="pull-right col-sm-6">
          <div class="input-group">
            <div app-select selected-model="queryField" options="queryOptions" class="input-group-addon" text="text"></div>
            <input type="text" class="form-control" ng-model="searchValue" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="queryUsers(queryField.value, searchValue)">{{'controls.search' | translate}}</button>
            </span>
          </div>
        </div>
        <!-- search user in group -->
      </div>
      <div class="portal-row">
        <!-- group users -->
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
          <thead>
              <tr role="row">
                <th class="sorting_asc" rowspan="1" colspan="1">{{'user.loginName' | translate}}</th>
                <th class="sorting" rowspan="1" colspan="1" aria-sort="ascending">{{'user.userName' | translate}}</th>
                <th class="sorting" rowspan="1" colspan="1">{{'user.email' | translate}}</th>
                <th class="sorting" rowspan="1" colspan="1">{{'user.phone' | translate}}</th>
              </tr>
          </thead>
          <tbody>
            <tr class="gradeA" ng-class="{'odd':$index%2==1}" role="row" ng-repeat="user in userListForDisplay | filter:filters" context-menu="myMenu" target="user">
              <td>{{user.userName}}</td>
              <td class="sorting_1">{{user.displayName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
            </tr>
          </tbody>
        </table>
        <!-- end of group users -->
        <div class="pull-right">
          <pagion collection="userList" display="userListForDisplay"></pagion>
        </div>
      </div>
    </div>
  </section>

</div>
