<div class="thing-location-type-selector">  
  <div class="row flex-row">
    <div class="col-md-5">
      <div class="panel no-padding">
        <div class="panel-body">
          <div class="content-title clearfix">
            <div class="select">
              <span class="fa fa-lightbulb-o"></span>
              <div app-select change="typeChange" options="types" selected-model="selectedType" value-only="true" disabled="onlyType || disabled"></div>
            </div>

            <div class="pull-left">
              <div class="select">
                <span class="fa fa-map-marker"></span>
                <location-selector change="locationChange(location, fullLocation, displayName)" disabled="disabled"></location-selector>
              </div>
              <button class="btn btn-info" ng-click="search()" ng-disabled="disabled">{{'controls.search' | translate}}</button>
            </div>
          </div>
          <div style="margin-top:-10px;">
            <div class="table-container">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>{{'terms.id' | translate}}</th>
                    <th>{{'terms.type' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-class="{'success':thing._selected}" ng-repeat="thing in getUnselectedThings() track by thing.globalThingID" ng-click="thing._selected=!thing._selected">
                    <td>
                      <input type="checkbox" ng-model="thing._selected" ng-click="thing._selected">
                    </td>
                    <td>{{thing.globalThingID}}</td>
                    <td>{{thing.typeDisplayName}}</td>
                  </tr>
                  
                  <tr class="empty-row" ng-repeat="row in emptyRowLeft() track by $index">
                    <td colspan="3"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="btm-control-panel">
            <button class="btn btn-link" ng-click="selectAll(getUnselectedThings())">{{'controls.selectAll' | translate}}</button>
            <span class="fa fa-plus-circle" ng-click="add()"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel no-padding">
        <div class="panel-body">
          <div class="content-title">{{'controls.selectedList' | translate}}</div>
          <div class="table-container">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>{{'terms.id' | translate}}</th>
                  <th>{{'terms.type' | translate}}</th>
                  <th>{{'terms.location' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="thing in selectedThings" ng-click="thing._selected = !thing._selected">
                  <td><input type="checkbox" ng-model="thing._selected"></td>
                  <td>{{thing.globalThingID}}</td>
                  <td>{{thing.typeDisplayName}}</td>
                  <td>{{thing.locationDisplayName}}</td>
                </tr>
                <tr class="empty-row" ng-repeat="row in emptyRowRight() track by $index">
                  <td colspan="4"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="btm-control-panel">
            <button class="btn btn-link" ng-click="selectAll(selectedThings)">{{'controls.selectAll' | translate}}</button>
            <button class="btn btn-link text-yellow" ng-click="remove()">{{'controls.delete' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>