@import 'src/app/shared/global.scss';

.app-portal{
    .portal-nav-bar{
        top:15px;
        position:relative;
    }
    #side-menu{
        @extend .app-nav-bar
    }
    .portal-content-body{
        top: 10px;
        position: relative;
    }
    .module-description{
        color: #ccc;
        text-indent: 10px;
        font-size: 13px;
    }
    hr{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: -15px;
        margin-left: -15px;
    }
    /*
     * Tab style
     */
    .tab-content{
        height: 400px;
        border-left: solid 1px #ddd;
        border-right: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}