.app-portal-triggermanager-triggerdetail-triggertimespan{
  .btn-container{
    margin-bottom: 20px;
    > .col-xs-4 > .btn{
      width: 100%;
    }
  }
  .time-span-settings{
    min-height: 169px;
  }
}