<div class="app-portal-thingmanager-tagview" ng-init="init()">
  <!-- start tile  -->
  <div class='modules-outputs-content graph-tile' ng-repeat="tag in thingTags">
    <div class="module-top">
        <div class="overlay" ng-click="viewThings(tag)">
           <div class="viewReport">
               查看
           </div>                   
        </div>
      <div class='outputs-content-img'><img ng-src="{{tag.image}}" /></div>   
    </div>
    <div class="moduleDetails">
         <div class='per-info'>
            <span class='info'>{{tag.name}} <br/>设备数量： {{tag.number}}</span>
         </div><!-- end per info -->
         <div class="modulesActionBottom">
         </div>
    </div>
    
    <div class="modulesActionsTop">
       <i class="fa fa-pencil-square-o" uib-tooltip="编辑" uib-tooltip-trigger="mouseenter" uib-tooltip-placement="top"></i>
       <i class="fa fa-trash-o" uib-tooltip="删除" uib-tooltip-trigger="mouseenter" uib-tooltip-placement="top"></i>
    </div>
  </div>
  <!-- end tile  -->
</div>