<div class="app-portal-thingmanager-tagview" ng-init="init()">
  
  <div class="row portal-row">
    <div class="col-lg-12"><button class="btn btn-danger" ng-click="addTag()">新增标签</button></div>
  </div>
  <div class="portal-row">
    <!-- start tile  -->
    <div class='modules-outputs-content graph-tile' ng-repeat="tag in tagsForDisplay">
      <div class="module-top">
          <div class="overlay" ng-click="viewThings(tag)">
             <div class="viewReport">
                 查看
             </div>                   
          </div>
        <div class='outputs-content-img'><img ng-src="{{'images/tag.jpeg'}}" /></div>   
      </div>
      <div class="moduleDetails">
           <div class='per-info'>
              <span class='info'>{{tag.displayName}} <br/>设备数量： {{tag.count}}</span>
           </div><!-- end per info -->
           <div class="modulesActionBottom">
            <div class="item action-button" ng-click="goThingAuth(group)">
              <span class="fa fa-cloud-download"></span>
              <span class="item-text">添加设备</span>
            </div>
           </div>
      </div>
      
      <div class="modulesActionsTop">
         <i class="fa fa-pencil-square-o" uib-tooltip="编辑" uib-tooltip-trigger="mouseenter" uib-tooltip-placement="top" ng-click="editTag(tag)"></i>
         <i class="fa fa-trash-o" uib-tooltip="删除" uib-tooltip-trigger="mouseenter" uib-tooltip-placement="top" ng-click="deleteTag(tag)"></i>
      </div>
    </div>
    <!-- end tile  -->
  </div>
  <div class="portal-row">
    <div class="pull-right">
      <pagion collection="thingTags" display="tagsForDisplay"></pagion>
    </div>
  </div>
  
</div>