<div class="app-portal-reporting-densitydetection">
  <div class="panel header">
    <div class="panel-body">
      <div class="panel-row">
        <div class="pull-left">
          <table class="table">
            <tbody>
              <tr>
                <td>{{'reporting.indexType' | translate}}</td>
                <td>
                  <div app-select options="chartSources" selected-model="selectedSource"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="v-hr pull-left"></div>
        <div class="pull-left">
          <div class="pull-left">
            <div class="title pull-left">
              <span class="fa fa-clock-o"></span>
              {{'terms.timePeriod' | translate}}
            </div>
            <div class="pull-left time-picker">
              <rp-date-picker output="onPeriodChange"></rp-date-picker>
            </div>
          </div>
          <div class="pull-left">
            <div class="pull-left">
              <div class="title pull-left">
                <span class="fa fa-map-marker"></span>
                <span>{{'terms.location' | translate}}</span>
              </div>
              <div class="pull-left">
                <location-selector hide-last="true" change="locationChange(location, locationName, subLevels)"></location-selector>
              </div>
            </div>
            <div class="pull-left">
              <button class="btn btn-info pull-left" ng-click="queryData()">{{'controls.refresh' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel chart-panel">
        <div class="panel-heading">
          {{reporting.densityRatio}}
        </div>
        <div class="panel-body">
          <kii-chart
            query="summaryQuery"
            period="period"
            window="0"
            location=""
            refresh="refreshSummary"
            stage="false"
            level="0"
            chart="pie"
            style="height: 250px;">
          </kii-chart>
          <div style="height: 182px;font-size:30px; font-weight: bold; margin:-16px; text-align: center; position:relative;">
            <div style="position: absolute; width: 100%; top: 50px">
              <span>{{reporting.density}}</span>
              <br/>
              {{numberDetected}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel chart-panel">
        <div class="panel-heading">{{queriedSource.text | translate}}</div>
        <div class="panel-body">
          <div class="chart-container">
            <div class="chart-content">
              <kii-chart 
                query="lineQuery"
                period="period"
                window="0"
                location=""
                refresh="refreshLine"
                stage="false"
                level="lineLevel"
                style="height: 400px;">
              </kii-chart>
            </div>
            <div class="chart-control">
              <div class="form-group">
                <label>{{'terms.timeLength' | translate}}</label>
                <rp-time-slicer output="onTimeSliceChange"></rp-time-slicer>
              </div>
              <div>
                <button ng-click="refreshLine()" class="btn btn-success btn-split">{{'controls.refresh' | translate}}</button>
                <button ng-click="groupLines()" ng-if="split" class="btn btn-warning btn-split">{{'reporting.merge' | translate}}</button>
                <button ng-click="splitLine()" ng-if="!split" class="btn btn-info btn-split">{{'reporting.split' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel chart-panel">
        <div class="panel-heading">
          {{queriedSource.text | translate}}
        </div>
        <div class="panel-body">
          <kii-chart
          query="pieQuery"
          period="period"
          window="0"
          location=""
          refresh="refreshPie"
          stage="false"
          level="0"
          chart="pie"
          style="height: 400px;">
        </kii-chart>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel chart-panel">
        <div class="panel-heading">
          {{queriedSource.text | translate}}
        </div>
        <div class="panel-body">
          <kii-chart
            query="barQuery"
            period="period"
            window="0"
            location=""
            refresh="refreshBar"
            stage="false"
            level="0"
            style="height: 400px;">
          </kii-chart>
        </div>
      </div>
    </div>
  </div>
</div>