<div class="app-portal-triggermanager-triggerdetail-triggerschedule" ng-controller="TriggerScheduleController">
  <div class="panel">
    <div class="panel-body">
      {{'triggerManager.timeSetting' | translate}}
    </div>
  </div>
  <div class="row simple-settings">
    <div class="col-md-5">
      <ng-include src="'app/components/portal/TriggerManager/components/TriggerTimeSpan/TriggerTimeSpan.html'"></ng-include>
    </div>
    <div class="col-md-7">
      <div class="panel">
        <div class="panel-body no-padding interval-settings">
          <div class="repeat-options">
            <label class="option" ng-class="{'active': triggerData.schedule.type!='Interval'}" ng-click="triggerData.schedule.type='Cron'">{{'triggerManager.onTime' | translate}}</label>
            <hr/>
            <label class="option" ng-class="{'active': triggerData.schedule.type=='Interval'}" ng-click="triggerData.schedule.type='Interval'">{{'triggerManager.repeat' | translate}}</label>
          </div>
          <div class="repeat-sub-options no-repeat" ng-class="{'active': triggerData.schedule.type!='Interval'}">
            <div class="option" ng-class="{'active': triggerData.schedule.onceType != 'hourly'}" ng-click="triggerData.schedule.onceType='exact'">
              <span class="fa fa-clock-o"></span>
              <label>{{'triggerManager.standard' | translate}}</label>
            </div>
            <div class="option" ng-class="{'active': triggerData.schedule.onceType == 'hourly'}" ng-click="triggerData.schedule.onceType='hourly'">
              <span class="fa fa-clock-o"></span>
              <label>{{'triggerManager.hourly' | translate}}</label>
            </div>
          </div>
          <div class="repeat-sub-options repeat"  ng-class="{'active': triggerData.schedule.type=='Interval'}">
            <div class="option" ng-class="{'active': triggerData.schedule.onceType == 'hourly'}">
              <span class="fa fa-clock-o"></span>
              <label>{{'triggerManager.interval' | translate}}</label>
            </div>
          </div>
          <div class="repeat-settings">
            <div ng-if="triggerData.schedule.type!='Interval'" class="form-group no-repeat">
              <input type="time" class="form-control"
                ng-model="triggerData.schedule.time" 
                ng-if="triggerData.schedule.onceType!='hourly'" 
                name="ruleScheduleTime1" 

                required 
                uib-tooltip="{{'triggerManager.requireTimeMsg' | translate}}"
                tooltip-trigger="'none'"
                tooltip-placement="top"
                tooltip-is-open="ruleform.$submitted
                  && !!ruleform.ruleScheduleTime1.$error.required"
                />
              <input type="number" class="form-control" 
                min="0" max="59" 
                ng-if="triggerData.schedule.onceType=='hourly'" 
                ng-model="triggerData.schedule.minute" 
                name="ruleScheduleTime2"

                required
                uib-tooltip="{{'triggerManager.requireTimeMsg' | translate}}"
                tooltip-trigger="'none'"
                tooltip-placement="top"
                tooltip-is-open="ruleform.$submitted
                    && (ruleform.ruleScheduleTime2.$error.required || !triggerData.schedule.minute) 
                    "
                />
            </div>
            <div ng-if="triggerData.schedule.type=='Interval'" class="form-group repeat">
              <input type="number" class="form-control" min="1"
                ng-model="triggerData.schedule.interval" 
                name="ruleScheduleInterval"

                required
                uib-tooltip="{{'triggerManager.requireIntervalMsg' | translate}}"
                tooltip-trigger="'none'"
                tooltip-placement="top"
                tooltip-is-open="ruleform.$submitted
                  && (!!ruleform.ruleScheduleInterval.$error.required || !triggerData.schedule.interval)"
                />
              <select class="form-control" 
                ng-model="triggerData.schedule.timeUnit"
                name="timeunit"

                required
                uib-tooltip="{{'triggerManager.requireTimeUnitMsg' | translate}}"
                tooltip-trigger="'none'"
                tooltip-placement="top"
                tooltip-is-open="ruleform.$submitted
                  && !!ruleform.timeunit.$error.required"
                >
                <option ng-repeat="unit in timeUnits" value="{{unit.value}}">{{unit.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>