<div class="app-portal-triggermanager-triggerdetail-triggerschedule" ng-controller="TriggerScheduleController">
  <div class="panel">
    <div class="panel-body">
      时间设置
      <button class="btn btn-link pull-right">高级设置</button>
    </div>
  </div>
  <div class="row simple-settings">
    <div class="col-md-5">
      <ng-include src="'app/components/portal/TriggerManager/components/TriggerTimeSpan/TriggerTimeSpan.html'"></ng-include>
    </div>
    <div class="col-md-7">
      <div class="panel">
        <div class="panel-body no-padding interval-settings">
          <div class="repeat-options">
            <label class="option" ng-class="{'active': triggerData.schedule.type!='Interval'}" ng-click="triggerData.schedule.type='Cron'">准点准时</label>
            <hr/>
            <label class="option" ng-class="{'active': triggerData.schedule.type=='Interval'}" ng-click="triggerData.schedule.type='Interval'">阶段重复</label>
          </div>
          <div class="repeat-sub-options no-repeat" ng-class="{'active': triggerData.schedule.type!='Interval'}">
            <div class="option" ng-class="{'active': triggerData.schedule.onceType != 'hourly'}" ng-click="triggerData.schedule.onceType='exact'">
              <span class="fa fa-clock-o"></span>
              <label>标准定时</label>
            </div>
            <div class="option" ng-class="{'active': triggerData.schedule.onceType == 'hourly'}" ng-click="triggerData.schedule.onceType='hourly'">
              <span class="fa fa-clock-o"></span>
              <label>每小时</label>
            </div>
          </div>
          <div class="repeat-sub-options repeat"  ng-class="{'active': triggerData.schedule.type=='Interval'}">
            <div class="option" ng-class="{'active': triggerData.schedule.onceType == 'hourly'}">
              <span class="fa fa-clock-o"></span>
              <label>间隔时间</label>
            </div>
          </div>
          <div class="repeat-settings">
            <div ng-show="triggerData.schedule.type!='Interval'" class="form-group no-repeat">
              <input type="time" class="form-control" ng-model="triggerData.schedule.time" ng-if="triggerData.schedule.onceType!='hourly'">
              <input type="number" class="form-control" name="" min="0" max="59" ng-if="triggerData.schedule.onceType=='hourly'" ng-model="triggerData.schedule.minute">
            </div>
            <div ng-show="triggerData.schedule.type=='Interval'" class="form-group repeat">
              <input type="number" class="form-control" name="" min="1" ng-model="triggerData.schedule.interval">
              <select class="form-control" ng-model="triggerData.schedule.timeUnit">
                <option ng-repeat="unit in timeUnits" value="{{unit.value}}">{{unit.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>