<div class="app-portal-triggermanager-triggerdetail-triggerschedule" ng-controller="TriggerScheduleController">
  <div class="panel">
    <div class="panel-body">
      时间设置
      <button class="btn btn-link pull-right">高级设置</button>
    </div>
  </div>
  <div class="row simple-settings">
    <div class="col-md-5">
      <div class="panel">
        <div class="panel-body time-span-settings">
          <h4>时间区间</h4>
          <div class="btn-container row">
            <div class="col-xs-4">
              <button class="btn" ng-class="{'btn-info': timePeriod.timeSpan=='daily', 'btn-default': timePeriod.timeSpan!='daily'}" ng-click="timePeriod.timeSpan='daily'">每天</button>
            </div>
            <div class="col-xs-4">
              <button class="btn" ng-class="{'btn-info': timePeriod.timeSpan=='weekday', 'btn-default': timePeriod.timeSpan!='weekday'}" ng-click="timePeriod.timeSpan='weekday'">周一至周五</button>
            </div>
            <div class="col-xs-4">
              <button class="btn" ng-class="{'btn-info': timePeriod.timeSpan=='weekend', 'btn-default': timePeriod.timeSpan!='weekend'}" ng-click="timePeriod.timeSpan='weekend'">每周末</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">从</span>
                <input class="form-control" type="time" name="" ng-model="timePeriod.from">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">至</span>
                <input class="form-control" type="time" name="" ng-model="timePeriod.to">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel">
        <div class="panel-body no-padding interval-settings">
          <div class="repeat-options">
            <label class="option" ng-class="{'active': intervalType!='repeat'}" ng-click="intervalType='once'">准点准时</label>
            <hr/>
            <label class="option" ng-class="{'active': intervalType=='repeat'}" ng-click="intervalType='repeat'">阶段重复</label>
          </div>
          <div class="repeat-sub-options no-repeat" ng-class="{'active': intervalType!='repeat'}">
            <div class="option" ng-class="{'active': onceType != 'hourly'}" ng-click="onceType='exact'">
              <span class="fa fa-clock-o"></span>
              <label>标准定时</label>
            </div>
            <div class="option" ng-class="{'active': onceType == 'hourly'}" ng-click="onceType='hourly'">
              <span class="fa fa-clock-o"></span>
              <label>每小时</label>
            </div>
          </div>
          <div class="repeat-sub-options repeat"  ng-class="{'active': intervalType=='repeat'}">
            <div class="option" ng-class="{'active': onceType == 'hourly'}" ng-click="onceType='hourly'">
              <span class="fa fa-clock-o"></span>
              <label>间隔时间</label>
            </div>
          </div>
          <div class="repeat-settings">
            <div ng-show="intervalType!='repeat'" class="form-group no-repeat">
              <input type="time" class="form-control" ng-if="onceType!='hourly'">
              <input type="number" class="form-control" name="" min="0" max="59" ng-if="onceType=='hourly'">
            </div>
            <div ng-show="intervalType=='repeat'" class="form-group repeat">
              <input type="number" class="form-control" name="" min="1">
              <select class="form-control" ng-options="unit.text for unit in timeUnits track by area.location" ng-model="selectedUnit">
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>