<div class="app-portal-thingmanager-gateway" ng-init="init()">
  <section class="panel">
    <header class="panel-heading">设备列表</header>
    <div class="panel-body">
      <div class="row clearfix">
        <div class="col-xs-4 clearfix">
          <uib-tabset>
            <uib-tab heading="位置">
              <treecontrol class="tree-classic"
                 tree-model="locationTree"
                 options="treeOptions"
                 on-selection="selectLocation(node)">
                 {{node.name}}
              </treecontrol>
            </uib-tab>
          </uib-tabset>
        </div>
        <div class="col-xs-8 clearfix">
          <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
                <tr role="row">
                  <th class="sorting_asc" rowspan="1" colspan="1">ID</th>
                  <th class="sorting" rowspan="1" colspan="1" aria-sort="ascending">种类</th>
                </tr>
            </thead>
            <tbody>
              <tr class="gradeA" ng-class="{'odd':$index%2==1}" role="row" ng-repeat="thing in things" ng-click="showGatewayThings(thing)">
                <td>{{thing.globalThingID}}</td>
                <td class="sorting_1">{{thing.type}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="panel">
    <header class="panel-heading">设备列表</header>
    <div class="panel-body">
      <table class="table">
        <thead>
          <th>设备ID</th>
          <th>状态</th>
          <th>操作</th>
        </thead>
        <tbody>
          <tr ng-repeat="thing in endNodes">
            <td>{{thing.vendorThingID}}</td>
            <td>{{thing.states}}</td>
            <td width="124px">
              <button class="btn btn-info" ng-click="showReplaceModal(thing)">替换</button>
              <button class="btn btn-danger" ng-click="removeEndNode(thing)">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>