<div class="app-portal-usermanager-user-userlist" ng-init="init()">
  <section class="panel">
    <header class="panel-heading">业主信息</header>
     <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-danger pull-left" ng-click="navigateTo(navMapping.NEW_USER)">新增业主+</button>
        </div>
        <div class="pull-right col-sm-6">
          <div class="row">
            <div class="col-sm-4">
              <div app-select selected-model="queryFiled" options="queryOptions" class="input-group-btn" text="text"></div>
            </div>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="searchValue" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="queryUsers(queryFiled.value, searchValue)">Go!</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover dataTable no-footer break-word">
        <thead>
            <tr role="row">
              <th class="sorting_asc" rowspan="1" colspan="1">业主ID</th>
              <th class="sorting" rowspan="1" colspan="1">业主姓名</th>
              <th class="sorting" rowspan="1" colspan="1">性别</th>
              <th class="sorting" rowspan="1" colspan="1">邮箱</th>
              <th class="sorting" rowspan="1" colspan="1">电话</th>
              <th class="sorting" rowspan="1" colspan="1">公司</th>
            </tr>
        </thead>
        <tbody>
          <tr class="gradeA" ng-class="{'odd':$index%2==1}" role="row" ng-repeat="user in userListForDisplay" context-menu="myMenu" target="user">
            <td>{{user.userID}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.custom.sex.text}}</td>
            <td>{{user.mail}}</td>
            <td>{{user.phone}}</td>
            <td class="center">{{user.company}}</td>
          </tr>
        </tbody>
      </table>
      <div class="pull-right">
        <pagion collection="userList" display="userListForDisplay"></pagion>
      </div>
    </div>
  </section>
</div>