<div class="modal-content" ng-init="init()">
  <div class="modal-header ng-scope">
      <h3 class="modal-title">编辑标签</h3>
  </div>
  <div class="modal-body clearfix">
    <div class="col-sm-12">
      <div class="row portal-row clearfix">
        <div class="col-sm-4">标签名称</div>
        <div class="col-sm-8"><input ng-model="tag.displayName" ng-disabled="true" type="text" class="form-control" placeholder="标签名称" /></div>
      </div>
      <div class="row portal-row clearfix">
        <div class="col-sm-4">描述</div>
        <div class="col-sm-8"><input ng-model="tag.description" type="text" class="form-control" placeholder="描述" /></div>
      </div>
      <thing-selector selected-things="selectedThings"></thing-selector>
      <!--
      <div class="row portal-row clearfix">
        <div class="col-sm-7">可选设备：</div>
        <div class="col-sm-5">已选设备：</div>
      </div>
      <div class="row portal-row clearfix">
        <thing-picker selected-nodes="selectedThings" settings="settings" ready="ready"></thing-picker>
      </div>
      -->
    </div>
  </div>
  <div class="modal-footer ng-scope">
      <button class="btn btn-primary" type="button" ng-click="ok()">更新</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
  </div>
</div>