<div class="modal-content">
  <div class="modal-header">
      <h3 class="modal-title">远程控制</h3>
  </div>
  <div class="modal-body clearfix">
    <div class="col-sm-12">
      <div class="row clearfix portal-row">
        <div class="pull-left">Power</div>
        <div class="pull-right"><input type="checkbox" switchery="status.on" /></div>
      </div>
      <div class="row clearfix portal-row">
        <div class="pull-left">Brightness</div>
        <div class="pull-right">1500</div>
      </div>
      <div class="row clearfix portal-row">
        <rzslider rz-slider-model="slider1.value" rz-slider-options="slider1.options"></rzslider>
      </div>
      <div class="row clearfix portal-row">
        <div class="pull-left">Color Temperature</div>
        <div class="pull-right">23</div>
      </div>
      <div class="row clearfix portal-row">
        <rzslider rz-slider-model="slider2.value" rz-slider-options="slider2.options"></rzslider>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>