<div class="modal-content">
  <div class="modal-header">
      <h3 class="modal-title">编辑规则</h3>
  </div>
  <div class="modal-body clearfix">
    <div class="col-sm-12 tabs-with-padding">
      <uib-tabset>
        <!-- select thing -->
        <uib-tab heading="选择设备">
          <div class="portal-row tabs-with-border">
            <uib-tabset>
              <uib-tab heading="位置" select="selectLocation()">
                <!-- things by location -->
                <treecontrol class="tree-classic"
                   tree-model="dataForTheTree1"
                   options="treeOptions"
                   on-selection="selectLeftNode(node)">
                   {{node.name}}
                </treecontrol>
                <!-- end of location -->
              </uib-tab>
              <uib-tab heading="种类" select="selectType()">
                <!-- things by type -->
                <treecontrol class="tree-classic"
                   tree-model="dataForTheTree"
                   options="treeOptions"
                   on-selection="showSelected(node)"
                   selected-node="node1">
                   employee: {{node.name}} age {{node.age}}
                </treecontrol>
                <!-- end of type -->
              </uib-tab>
              <uib-tab heading="标签" select="selectLabel()">
                <!-- things by label -->
                <treecontrol class="tree-classic"
                   tree-model="dataForTheTree"
                   options="treeOptions"
                   on-selection="showSelected(node)"
                   selected-node="node1">
                   employee: {{node.name}} age {{node.age}}
                </treecontrol>
                <!-- end of label -->
              </uib-tab>
            </uib-tabset>
          </div>
        </uib-tab>
        <!-- end of select thing -->
        <!-- edit rule info-->
        <uib-tab heading="规则描述">
          <div class="portal-row clearfix row">
            <div class="col-sm-4">规则名称</div>
            <div class="col-sm-8"><input class="form-control" type="text" /></div>
          </div>
          <div class="portal-row clearfix row">
            <div class="col-sm-4">规则描述</div>
            <div class="col-sm-8"><input class="form-control" type="text" /></div>
          </div>
        </uib-tab>
        <!-- end of edit rule info-->
        <!-- add edit rule -->
        <uib-tab heading="编辑规则">
          <div class="portal-row">
            <div clause-tree="rules" on-select="selectClause" on-delete="deleteClause"></div>
          </div>
          <!-- select rule -->
          <div class="portal-row">
            <div app-select selected-model="selectedRule" options="ruleList" text="name" change="selectedRuleChange"></div>
          </div>
          <!-- end of select rule -->
          <!-- range value -->
          <div class="portal-row" ng-if="selectedRule.type == ruleValueType.RANGE_VALUE">
            <div class="col-sm-2">
              <span>{{selectedRule.name}}</span>
            </div>
            <div class="col-sm-2">
              <div app-select options="selectedRule.type.predicators" selected-model="newRule.predicator" text="name"></div>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="newRule.value" />
            </div>
          </div>
          <!-- end of range value -->
          <hr/>
          <!-- option value -->
          <div class="portal-row" ng-if="selectedRule.type == ruleValueType.OPTIONS">
            <div class="col-sm-2">
              <span>{{selectedRule.name}}</span>
            </div>
            <div class="col-sm-2">
              <div app-select options="selectedRule.type.predicators" selected-model="newRule.predicator" text="name"></div>
            </div>
            <div class="col-sm-4">
              <div app-select options="selectedRule.type.values" text="name" selected-model="newRule.value"></div>
            </div>
          </div>
          <!-- end of option value -->
          <hr/>
          <div class="portal-row">
            <div class="pull-right">
              <button class="btn btn-danger" ng-click="addRule()">+AND</button>
              <button class="btn btn-danger" ng-click="orRule()">+OR</button>
              <button class="btn btn-danger" ng-click="cleanRule()">Clean Clauses</button>
            </div>
          </div>
        </uiv-tab>
        <!-- end of edit rule -->
      </uib-tabset>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</div>