.range-slider {
  display: block;
  margin-right: 5px; }
  .range-slider input[type=range] {
    width: 170px;
    float: left;
    margin: 9px;
    margin-left: 0px; }
  .range-slider .range-display {
    width: 80px;
    float: left; }
